In [1]:
token = 'ZWDF2CNNPSO3CAGY'

In [2]:
# Importamos las librerías

import pandas as pd
import requests
import json

# Definimos las variables (parámetros)

function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
token = 'ZWDF2CNNPSO3CAGY'

# Concateno la URL a visitar:

urlBase = 'https://www.alphavantage.co/query'
url = urlBase + '?function=' + function + '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

# Acá hago el llamado/Request
r = requests.get(url)

print(r)

<Response [200]>

In [3]:
print(r.url, '\n\n', r.cookies, '\n\n', r.status_code, '\n\n', r.headers)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=ZWDF2CNNPSO3CAGY

 <RequestsCookieJar[]>

 200

 {'Date': 'Fri, 03 Sep 2021 12:51:52 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Cookie', 'X-Frame-Options': 'SAMEORIGIN', 'Allow': 'GET, HEAD, OPTIONS', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '688f1ca62cddf7fa-EZE', 'Content-Encoding': 'gzip'}

In [4]:
r.json()

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2021-09-02 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (15min)': {'2021-09-02 20:00:00': {'1. open': '153.5600',
   '2. high': '153.5900',
   '3. low': '153.5500',
   '4. close': '153.5900',
   '5. volume': '11887'},
  '2021-09-02 19:45:00': {'1. open': '153.6700',
   '2. high': '153.6800',
   '3. low': '153.5800',
   '4. close': '153.6500',
   '5. volume': '9909'},
  '2021-09-02 19:30:00': {'1. open': '153.6800',
   '2. high': '153.7000',
   '3. low': '153.6600',
   '4. close': '153.7000',
   '5. volume': '5217'},
  '2021-09-02 19:15:00': {'1. open': '153.7000',
   '2. high': '153.7000',
   '3. low': '153.6700',
   '4. close': '153.6800',
   '5. volume': '2756'},
  '2021-09-02 19:00:00': {'1. open': '153.6900',
   '2. high': '153.7000',
   '3. low': '153.6500',
   '4. close': '153.7000',
   '5. volume': '8694'},
  '2021-09-02 18:45:00': {'1. open': '153.6700',
   '2. high': '153.7300',
   '3. low': '153.6000',
   '4. close': '153.6500',
   '5. volume': '10633'},
  '2021-09-02 18:30:00': {'1. open': '153.6300',
   '2. high': '153.6800',
   '3. low': '153.6100',
   '4. close': '153.6800',
   '5. volume': '4174'},
  '2021-09-02 18:15:00': {'1. open': '153.6000',
   '2. high': '153.6500',
   '3. low': '153.6000',
   '4. close': '153.6400',
   '5. volume': '6311'},
  '2021-09-02 18:00:00': {'1. open': '153.5400',
   '2. high': '153.6000',
   '3. low': '153.5200',
   '4. close': '153.5720',
   '5. volume': '9560'},
  '2021-09-02 17:45:00': {'1. open': '153.5200',
   '2. high': '153.5700',
   '3. low': '153.5200',
   '4. close': '153.5300',
   '5. volume': '4301'},
  '2021-09-02 17:30:00': {'1. open': '153.6600',
   '2. high': '153.6600',
   '3. low': '153.5100',
   '4. close': '153.5200',
   '5. volume': '27123'},
  '2021-09-02 17:15:00': {'1. open': '153.6900',
   '2. high': '153.7300',
   '3. low': '153.6600',
   '4. close': '153.6600',
   '5. volume': '10614'},
  '2021-09-02 17:00:00': {'1. open': '153.6901',
   '2. high': '153.7700',
   '3. low': '153.6901',
   '4. close': '153.6937',
   '5. volume': '12559'},
  '2021-09-02 16:45:00': {'1. open': '153.7000',
   '2. high': '153.7400',
   '3. low': '153.7000',
   '4. close': '153.7200',
   '5. volume': '211070'},
  '2021-09-02 16:30:00': {'1. open': '153.6400',
   '2. high': '153.7200',
   '3. low': '153.6200',
   '4. close': '153.7000',
   '5. volume': '26278'},
  '2021-09-02 16:15:00': {'1. open': '153.6500',
   '2. high': '153.7000',
   '3. low': '153.5000',
   '4. close': '153.5900',
   '5. volume': '1410352'},
  '2021-09-02 16:00:00': {'1. open': '153.5399',
   '2. high': '153.7100',
   '3. low': '153.3500',
   '4. close': '153.7100',
   '5. volume': '3987817'},
  '2021-09-02 15:45:00': {'1. open': '153.5499',
   '2. high': '153.6700',
   '3. low': '153.3150',
   '4. close': '153.5350',
   '5. volume': '2235223'},
  '2021-09-02 15:30:00': {'1. open': '153.5700',
   '2. high': '153.8250',
   '3. low': '153.4350',
   '4. close': '153.5400',
   '5. volume': '2788920'},
  '2021-09-02 15:15:00': {'1. open': '153.4694',
   '2. high': '153.6590',
   '3. low': '153.3200',
   '4. close': '153.5700',
   '5. volume': '2906504'},
  '2021-09-02 15:00:00': {'1. open': '152.7900',
   '2. high': '153.5400',
   '3. low': '152.7700',
   '4. close': '153.4700',
   '5. volume': '3517297'},
  '2021-09-02 14:45:00': {'1. open': '152.7200',
   '2. high': '152.8700',
   '3. low': '152.6700',
   '4. close': '152.7935',
   '5. volume': '1486908'},
  '2021-09-02 14:30:00': {'1. open': '152.7900',
   '2. high': '152.9700',
   '3. low': '152.6900',
   '4. close': '152.7178',
   '5. volume': '1752379'},
  '2021-09-02 14:15:00': {'1. open': '152.6050',
   '2. high': '152.8200',
   '3. low': '152.4000',
   '4. close': '152.7850',
   '5. volume': '2313577'},
  '2021-09-02 14:00:00': {'1. open': '152.7500',
   '2. high': '152.7700',
   '3. low': '152.5300',
   '4. close': '152.6000',
   '5. volume': '1978161'},
  '2021-09-02 13:45:00': {'1. open': '152.8201',
   '2. high': '153.0200',
   '3. low': '152.6701',
   '4. close': '152.7450',
   '5. volume': '1595634'},
  '2021-09-02 13:30:00': {'1. open': '153.1800',
   '2. high': '153.2800',
   '3. low': '152.8200',
   '4. close': '152.8286',
   '5. volume': '1833003'},
  '2021-09-02 13:15:00': {'1. open': '153.3007',
   '2. high': '153.4688',
   '3. low': '153.1200',
   '4. close': '153.1770',
   '5. volume': '1473961'},
  '2021-09-02 13:00:00': {'1. open': '153.2086',
   '2. high': '153.3400',
   '3. low': '153.0200',
   '4. close': '153.3050',
   '5. volume': '1439408'},
  '2021-09-02 12:45:00': {'1. open': '153.3300',
   '2. high': '153.4700',
   '3. low': '153.1200',
   '4. close': '153.2100',
   '5. volume': '1571382'},
  '2021-09-02 12:30:00': {'1. open': '153.5000',
   '2. high': '153.5800',
   '3. low': '153.3000',
   '4. close': '153.3350',
   '5. volume': '1403440'},
  '2021-09-02 12:15:00': {'1. open': '153.5800',
   '2. high': '153.7400',
   '3. low': '153.4101',
   '4. close': '153.5000',
   '5. volume': '1525837'},
  '2021-09-02 12:00:00': {'1. open': '153.8400',
   '2. high': '153.8400',
   '3. low': '153.5250',
   '4. close': '153.5850',
   '5. volume': '1726929'},
  '2021-09-02 11:45:00': {'1. open': '153.9056',
   '2. high': '154.1100',
   '3. low': '153.7601',
   '4. close': '153.8485',
   '5. volume': '1512526'},
  '2021-09-02 11:30:00': {'1. open': '153.9450',
   '2. high': '154.1400',
   '3. low': '153.8400',
   '4. close': '153.9100',
   '5. volume': '1750635'},
  '2021-09-02 11:15:00': {'1. open': '154.0600',
   '2. high': '154.1000',
   '3. low': '153.6200',
   '4. close': '153.9500',
   '5. volume': '2111377'},
  '2021-09-02 11:00:00': {'1. open': '154.1185',
   '2. high': '154.3300',
   '3. low': '153.9600',
   '4. close': '154.0530',
   '5. volume': '2148002'},
  '2021-09-02 10:45:00': {'1. open': '153.6600',
   '2. high': '154.1300',
   '3. low': '153.5800',
   '4. close': '154.1111',
   '5. volume': '2665036'},
  '2021-09-02 10:30:00': {'1. open': '153.6999',
   '2. high': '153.9300',
   '3. low': '153.3609',
   '4. close': '153.6650',
   '5. volume': '3012743'},
  '2021-09-02 10:15:00': {'1. open': '154.1600',
   '2. high': '154.3100',
   '3. low': '153.5300',
   '4. close': '153.6950',
   '5. volume': '3329267'},
  '2021-09-02 10:00:00': {'1. open': '154.5250',
   '2. high': '154.5800',
   '3. low': '153.9800',
   '4. close': '154.1600',
   '5. volume': '4053553'},
  '2021-09-02 09:45:00': {'1. open': '153.8700',
   '2. high': '154.7200',
   '3. low': '153.8500',
   '4. close': '154.5210',
   '5. volume': '7972704'},
  '2021-09-02 09:30:00': {'1. open': '153.6900',
   '2. high': '153.9900',
   '3. low': '153.5900',
   '4. close': '153.8600',
   '5. volume': '168439'},
  '2021-09-02 09:15:00': {'1. open': '153.7600',
   '2. high': '153.8700',
   '3. low': '153.6000',
   '4. close': '153.6900',
   '5. volume': '146243'},
  '2021-09-02 09:00:00': {'1. open': '153.8500',
   '2. high': '153.9500',
   '3. low': '153.7600',
   '4. close': '153.7800',
   '5. volume': '82197'},
  '2021-09-02 08:45:00': {'1. open': '153.6400',
   '2. high': '153.9600',
   '3. low': '153.6400',
   '4. close': '153.8700',
   '5. volume': '185257'},
  '2021-09-02 08:30:00': {'1. open': '153.5500',
   '2. high': '153.6500',
   '3. low': '153.5400',
   '4. close': '153.6400',
   '5. volume': '42872'},
  '2021-09-02 08:15:00': {'1. open': '153.4900',
   '2. high': '153.7500',
   '3. low': '152.1290',
   '4. close': '153.5500',
   '5. volume': '207211'},
  '2021-09-02 08:00:00': {'1. open': '153.4600',
   '2. high': '153.4900',
   '3. low': '153.4000',
   '4. close': '153.4900',
   '5. volume': '27462'},
  '2021-09-02 07:45:00': {'1. open': '153.3500',
   '2. high': '153.4800',
   '3. low': '153.3500',
   '4. close': '153.4500',
   '5. volume': '54541'},
  '2021-09-02 07:30:00': {'1. open': '153.3000',
   '2. high': '153.4900',
   '3. low': '153.2700',
   '4. close': '153.4000',
   '5. volume': '43337'},
  '2021-09-02 07:15:00': {'1. open': '153.2000',
   '2. high': '153.3200',
   '3. low': '153.1900',
   '4. close': '153.2900',
   '5. volume': '30389'},
  '2021-09-02 07:00:00': {'1. open': '153.2700',
   '2. high': '153.2800',
   '3. low': '153.2000',
   '4. close': '153.2000',
   '5. volume': '4636'},
  '2021-09-02 06:45:00': {'1. open': '153.2200',
   '2. high': '153.2900',
   '3. low': '153.2200',
   '4. close': '153.2900',
   '5. volume': '794'},
  '2021-09-02 06:30:00': {'1. open': '153.2200',
   '2. high': '153.2200',
   '3. low': '153.1900',
   '4. close': '153.2000',
   '5. volume': '3629'},
  '2021-09-02 06:15:00': {'1. open': '153.1500',
   '2. high': '153.1900',
   '3. low': '153.1300',
   '4. close': '153.1300',
   '5. volume': '1768'},
  '2021-09-02 06:00:00': {'1. open': '153.2400',
   '2. high': '153.2400',
   '3. low': '153.1000',
   '4. close': '153.1000',
   '5. volume': '3243'},
  '2021-09-02 05:45:00': {'1. open': '153.1400',
   '2. high': '153.3200',
   '3. low': '153.1300',
   '4. close': '153.2200',
   '5. volume': '4801'},
  '2021-09-02 05:30:00': {'1. open': '153.0400',
   '2. high': '153.1800',
   '3. low': '153.0400',
   '4. close': '153.1800',
   '5. volume': '1046'},
  '2021-09-02 05:00:00': {'1. open': '153.3400',
   '2. high': '153.4400',
   '3. low': '153.1100',
   '4. close': '153.1500',
   '5. volume': '9170'},
  '2021-09-02 04:45:00': {'1. open': '153.0700',
   '2. high': '153.3400',
   '3. low': '153.0700',
   '4. close': '153.3400',
   '5. volume': '7110'},
  '2021-09-02 04:30:00': {'1. open': '153.3000',
   '2. high': '153.3100',
   '3. low': '153.0000',
   '4. close': '153.0000',
   '5. volume': '16044'},
  '2021-09-02 04:15:00': {'1. open': '152.8600',
   '2. high': '153.2900',
   '3. low': '152.8600',
   '4. close': '153.2900',
   '5. volume': '9906'},
  '2021-09-01 20:00:00': {'1. open': '153.0200',
   '2. high': '153.2500',
   '3. low': '153.0200',
   '4. close': '153.1600',
   '5. volume': '44207'},
  '2021-09-01 19:45:00': {'1. open': '152.9800',
   '2. high': '153.0400',
   '3. low': '152.9800',
   '4. close': '153.0400',
   '5. volume': '13443'},
  '2021-09-01 19:30:00': {'1. open': '152.9600',
   '2. high': '152.9900',
   '3. low': '152.9400',
   '4. close': '152.9900',
   '5. volume': '12593'},
  '2021-09-01 19:15:00': {'1. open': '152.9800',
   '2. high': '152.9800',
   '3. low': '152.9500',
   '4. close': '152.9800',
   '5. volume': '6181'},
  '2021-09-01 19:00:00': {'1. open': '152.9400',
   '2. high': '153.0000',
   '3. low': '152.9300',
   '4. close': '152.9700',
   '5. volume': '23803'},
  '2021-09-01 18:45:00': {'1. open': '152.9600',
   '2. high': '152.9900',
   '3. low': '152.9300',
   '4. close': '152.9400',
   '5. volume': '7967'},
  '2021-09-01 18:30:00': {'1. open': '153.0200',
   '2. high': '153.0300',
   '3. low': '152.9200',
   '4. close': '153.0000',
   '5. volume': '16826'},
  '2021-09-01 18:15:00': {'1. open': '152.9900',
   '2. high': '153.0500',
   '3. low': '152.9000',
   '4. close': '153.0200',
   '5. volume': '29450'},
  '2021-09-01 18:00:00': {'1. open': '152.9900',
   '2. high': '153.0000',
   '3. low': '152.8000',
   '4. close': '152.8800',
   '5. volume': '31770'},
  '2021-09-01 17:45:00': {'1. open': '153.0000',
   '2. high': '153.1500',
   '3. low': '152.8700',
   '4. close': '153.0200',
   '5. volume': '46231'},
  '2021-09-01 17:30:00': {'1. open': '152.5900',
   '2. high': '153.1300',
   '3. low': '152.5900',
   '4. close': '153.1000',
   '5. volume': '63275'},
  '2021-09-01 17:15:00': {'1. open': '152.5700',
   '2. high': '152.6500',
   '3. low': '152.5100',
   '4. close': '152.5900',
   '5. volume': '73556'},
  '2021-09-01 17:00:00': {'1. open': '152.5800',
   '2. high': '152.5900',
   '3. low': '152.4900',
   '4. close': '152.5400',
   '5. volume': '29334'},
  '2021-09-01 16:45:00': {'1. open': '152.5700',
   '2. high': '152.6000',
   '3. low': '152.5600',
   '4. close': '152.5999',
   '5. volume': '19023'},
  '2021-09-01 16:30:00': {'1. open': '152.6000',
   '2. high': '152.6000',
   '3. low': '152.5100',
   '4. close': '152.5800',
   '5. volume': '19793'},
  '2021-09-01 16:15:00': {'1. open': '152.5100',
   '2. high': '152.6000',
   '3. low': '152.4900',
   '4. close': '152.6000',
   '5. volume': '1259506'},
  '2021-09-01 16:00:00': {'1. open': '152.5799',
   '2. high': '152.6600',
   '3. low': '152.3400',
   '4. close': '152.5400',
   '5. volume': '5647768'},
  '2021-09-01 15:45:00': {'1. open': '152.9550',
   '2. high': '152.9700',
   '3. low': '152.4550',
   '4. close': '152.5710',
   '5. volume': '3247189'},
  '2021-09-01 15:30:00': {'1. open': '152.9650',
   '2. high': '153.1750',
   '3. low': '152.9500',
   '4. close': '152.9550',
   '5. volume': '1732916'},
  '2021-09-01 15:15:00': {'1. open': '152.8802',
   '2. high': '153.0500',
   '3. low': '152.7900',
   '4. close': '152.9600',
   '5. volume': '2043899'},
  '2021-09-01 15:00:00': {'1. open': '153.1357',
   '2. high': '153.1800',
   '3. low': '152.8000',
   '4. close': '152.8900',
   '5. volume': '1649987'},
  '2021-09-01 14:45:00': {'1. open': '153.2101',
   '2. high': '153.3000',
   '3. low': '152.7800',
   '4. close': '153.1350',
   '5. volume': '2767527'},
  '2021-09-01 14:30:00': {'1. open': '153.5250',
   '2. high': '153.5600',
   '3. low': '153.2000',
   '4. close': '153.2199',
   '5. volume': '1720265'},
  '2021-09-01 14:15:00': {'1. open': '153.7935',
   '2. high': '153.8000',
   '3. low': '153.4100',
   '4. close': '153.5200',
   '5. volume': '1492138'},
  '2021-09-01 14:00:00': {'1. open': '153.7900',
   '2. high': '153.8850',
   '3. low': '153.6500',
   '4. close': '153.7950',
   '5. volume': '960871'},
  '2021-09-01 13:45:00': {'1. open': '153.9300',
   '2. high': '153.9400',
   '3. low': '153.6950',
   '4. close': '153.7960',
   '5. volume': '1064246'},
  '2021-09-01 13:30:00': {'1. open': '153.6250',
   '2. high': '154.0050',
   '3. low': '153.6250',
   '4. close': '153.9299',
   '5. volume': '1705293'},
  '2021-09-01 13:15:00': {'1. open': '153.6600',
   '2. high': '153.8400',
   '3. low': '153.5500',
   '4. close': '153.6300',
   '5. volume': '1886065'},
  '2021-09-01 13:00:00': {'1. open': '153.8150',
   '2. high': '153.9500',
   '3. low': '153.6500',
   '4. close': '153.6650',
   '5. volume': '1690223'},
  '2021-09-01 12:45:00': {'1. open': '154.0219',
   '2. high': '154.0299',
   '3. low': '153.6900',
   '4. close': '153.8100',
   '5. volume': '1922127'},
  '2021-09-01 12:30:00': {'1. open': '154.2450',
   '2. high': '154.3450',
   '3. low': '153.9800',
   '4. close': '154.0200',
   '5. volume': '1909536'},
  '2021-09-01 12:15:00': {'1. open': '154.5001',
   '2. high': '154.6200',
   '3. low': '154.2400',
   '4. close': '154.2450',
   '5. volume': '1545462'},
  '2021-09-01 12:00:00': {'1. open': '154.7100',
   '2. high': '154.7400',
   '3. low': '154.4000',
   '4. close': '154.5000',
   '5. volume': '1834822'},
  '2021-09-01 11:45:00': {'1. open': '154.6750',
   '2. high': '154.9400',
   '3. low': '154.6400',
   '4. close': '154.7150',
   '5. volume': '1538209'},
  '2021-09-01 11:30:00': {'1. open': '154.7700',
   '2. high': '154.9500',
   '3. low': '154.6500',
   '4. close': '154.6700',
   '5. volume': '2726265'},
  '2021-09-01 11:15:00': {'1. open': '154.5400',
   '2. high': '154.7985',
   '3. low': '154.3900',
   '4. close': '154.7766',
   '5. volume': '2220660'},
  '2021-09-01 11:00:00': {'1. open': '154.8450',
   '2. high': '154.9800',
   '3. low': '154.1515',
   '4. close': '154.5300',
   '5. volume': '3095303'}}}

In [5]:
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-02 20:00:00  153.5600  153.5900  153.5500  153.5900     11887
2021-09-02 19:45:00  153.6700  153.6800  153.5800  153.6500      9909
2021-09-02 19:30:00  153.6800  153.7000  153.6600  153.7000      5217
2021-09-02 19:15:00  153.7000  153.7000  153.6700  153.6800      2756
2021-09-02 19:00:00  153.6900  153.7000  153.6500  153.7000      8694

In [6]:
function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
size = 'compact'
token = 'ZWDF2CNNPSO3CAGY'

url = 'https://www.alphavantage.co/query'
parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

r = requests.get(url, params=parametros)
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-02 20:00:00  153.5600  153.5900  153.5500  153.5900     11887
2021-09-02 19:45:00  153.6700  153.6800  153.5800  153.6500      9909
2021-09-02 19:30:00  153.6800  153.7000  153.6600  153.7000      5217
2021-09-02 19:15:00  153.7000  153.7000  153.6700  153.6800      2756
2021-09-02 19:00:00  153.6900  153.7000  153.6500  153.7000      8694

In [7]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    data = r.json()['Time Series (15min)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-02 20:00:00  153.5600  153.5900  153.5500  153.5900     11887
2021-09-02 19:45:00  153.6700  153.6800  153.5800  153.6500      9909
2021-09-02 19:30:00  153.6800  153.7000  153.6600  153.7000      5217
2021-09-02 19:15:00  153.7000  153.7000  153.6700  153.6800      2756
2021-09-02 19:00:00  153.6900  153.7000  153.6500  153.7000      8694

In [8]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (15min)'

In [9]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    
    # En esta línea arreglo ese tema
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-02 20:00:00  153.5700  153.5900  153.5700  153.5900       811
2021-09-02 19:59:00  153.5900  153.5900  153.5700  153.5700      1303
2021-09-02 19:58:00  153.5700  153.5700  153.5700  153.5700       515
2021-09-02 19:57:00  153.5700  153.5700  153.5500  153.5700      1966
2021-09-02 19:56:00  153.5700  153.5700  153.5500  153.5500       855

In [10]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (12min)'

In [11]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

<Response [200]>

In [12]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r.text)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

{
    "Note": "Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency."
}

In [13]:
TOKEN = 'ZWDF2CNNPSO3CAGY'

def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')
data.head()

KeyError: 'Time Series (15min)'

In [14]:
def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')

data.round(2).head()

KeyError: 'Time Series (15min)'

In [15]:
data = data.astype('float')
data.round(2).head()

AttributeError: 'NoneType' object has no attribute 'astype'

In [16]:
def getIntra(symbol, interval, size):
    function='TIME_SERIES_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getIntra(symbol='AAPL', interval='15min', size='compact')
data.round(2).head()

KeyError: 'Time Series (15min)'

In [17]:
def getDaily(symbol, size):
    function = 'TIME_SERIES_DAILY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDaily(symbol='AAPL', size='compact')
data.head()

KeyError: 'Time Series (Daily)'

In [18]:
def getDailyAdj(symbol, size):
    function = 'TIME_SERIES_DAILY_ADJUSTED'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume', 'Div', 'Split']
    dataDF = dataDF.sort_values('Date', ascending=True).round(2)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDailyAdj(symbol='AAPL', size='compact')
data.head()

KeyError: 'Time Series (Daily)'

In [19]:
data = getDailyAdj(symbol='AAPL', size='full')
data.loc[data.Split > 1]

KeyError: 'Time Series (Daily)'

In [20]:
data = getDailyAdj(symbol='KO', size='full')
data.loc[data.Div > 0].Div.count()

KeyError: 'Time Series (Daily)'

In [21]:
def quote(symbol):
    function = 'GLOBAL_QUOTE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    return r.json()

data = quote(symbol='AAPL')
data

{'Global Quote': {'01. symbol': 'AAPL',
  '02. open': '153.8700',
  '03. high': '154.7200',
  '04. low': '152.4000',
  '05. price': '153.6500',
  '06. volume': '71171317',
  '07. latest trading day': '2021-09-02',
  '08. previous close': '152.5100',
  '09. change': '1.1400',
  '10. change percent': '0.7475%'}}

In [22]:
def quote(symbol):
    function = 'GLOBAL_QUOTE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Global Quote']
    df = pd.DataFrame.from_dict(js, orient='index')
    return df

data = quote(symbol='AAPL')
data

                                 0
01. symbol                    AAPL
02. open                  153.8700
03. high                  154.7200
04. low                   152.4000
05. price                 153.6500
06. volume                71171317
07. latest trading day  2021-09-02
08. previous close        152.5100
09. change                  1.1400
10. change percent         0.7475%

In [31]:
data = quote(symbol='MELI')
data

                                 0
01. symbol                    MELI
02. open                 1903.0800
03. high                 1970.1300
04. low                  1903.0800
05. price                1931.3300
06. volume                  451186
07. latest trading day  2021-09-02
08. previous close       1896.5100
09. change                 34.8200
10. change percent         1.8360%

In [24]:
data = quote(symbol='PETR3.SAO')
data

                                 0
01. symbol               PETR3.SAO
02. open                   27.6000
03. high                   28.2400
04. low                    27.2900
05. price                  27.2900
06. volume                15591700
07. latest trading day  2021-09-02
08. previous close         27.7700
09. change                 -0.4800
10. change percent        -1.7285%