In [1]:
token = 'ZWDF2CNNPSO3CAGY'

In [2]:
# Importamos las librerías

import pandas as pd
import requests
import json

# Definimos las variables (parámetros)

function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
token = 'ZWDF2CNNPSO3CAGY'

# Concateno la URL a visitar:

urlBase = 'https://www.alphavantage.co/query'
url = urlBase + '?function=' + function + '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

# Acá hago el llamado/Request
r = requests.get(url)

print(r)

<Response [200]>

In [3]:
print(r.url, '\n\n', r.cookies, '\n\n', r.status_code, '\n\n', r.headers)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=ZWDF2CNNPSO3CAGY

 <RequestsCookieJar[]>

 200

 {'Date': 'Tue, 31 Aug 2021 11:22:02 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'X-Frame-Options': 'SAMEORIGIN', 'Allow': 'GET, HEAD, OPTIONS', 'Vary': 'Cookie', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '6875e0f16f28f7e6-EZE', 'Content-Encoding': 'gzip'}

In [4]:
r.json()

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2021-08-30 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (15min)': {'2021-08-30 20:00:00': {'1. open': '152.8500',
   '2. high': '152.9499',
   '3. low': '152.8200',
   '4. close': '152.9100',
   '5. volume': '27814'},
  '2021-08-30 19:45:00': {'1. open': '152.9000',
   '2. high': '152.9700',
   '3. low': '152.8400',
   '4. close': '152.8700',
   '5. volume': '39775'},
  '2021-08-30 19:30:00': {'1. open': '152.9000',
   '2. high': '152.9500',
   '3. low': '152.8801',
   '4. close': '152.9000',
   '5. volume': '11118'},
  '2021-08-30 19:15:00': {'1. open': '152.9800',
   '2. high': '153.0000',
   '3. low': '152.8800',
   '4. close': '152.9100',
   '5. volume': '15037'},
  '2021-08-30 19:00:00': {'1. open': '153.0000',
   '2. high': '153.0100',
   '3. low': '152.9100',
   '4. close': '152.9700',
   '5. volume': '18445'},
  '2021-08-30 18:45:00': {'1. open': '153.0800',
   '2. high': '153.1000',
   '3. low': '153.0000',
   '4. close': '153.0000',
   '5. volume': '12849'},
  '2021-08-30 18:30:00': {'1. open': '153.0900',
   '2. high': '153.1200',
   '3. low': '153.0900',
   '4. close': '153.1000',
   '5. volume': '8683'},
  '2021-08-30 18:15:00': {'1. open': '153.0900',
   '2. high': '153.1400',
   '3. low': '153.0700',
   '4. close': '153.1200',
   '5. volume': '14678'},
  '2021-08-30 18:00:00': {'1. open': '152.9700',
   '2. high': '153.0900',
   '3. low': '152.9000',
   '4. close': '153.0800',
   '5. volume': '175854'},
  '2021-08-30 17:45:00': {'1. open': '153.0000',
   '2. high': '153.0000',
   '3. low': '152.9200',
   '4. close': '152.9200',
   '5. volume': '13558'},
  '2021-08-30 17:30:00': {'1. open': '152.9500',
   '2. high': '153.0300',
   '3. low': '152.9500',
   '4. close': '152.9800',
   '5. volume': '9380'},
  '2021-08-30 17:15:00': {'1. open': '152.9900',
   '2. high': '153.1200',
   '3. low': '152.8500',
   '4. close': '152.9500',
   '5. volume': '224778'},
  '2021-08-30 17:00:00': {'1. open': '153.0900',
   '2. high': '153.1200',
   '3. low': '152.9600',
   '4. close': '152.9600',
   '5. volume': '88090'},
  '2021-08-30 16:45:00': {'1. open': '153.0700',
   '2. high': '153.1200',
   '3. low': '153.0300',
   '4. close': '153.0800',
   '5. volume': '51902'},
  '2021-08-30 16:30:00': {'1. open': '153.1200',
   '2. high': '153.1200',
   '3. low': '152.9900',
   '4. close': '153.0700',
   '5. volume': '41973'},
  '2021-08-30 16:15:00': {'1. open': '153.1200',
   '2. high': '153.1700',
   '3. low': '153.0100',
   '4. close': '153.1200',
   '5. volume': '1960037'},
  '2021-08-30 16:00:00': {'1. open': '153.2500',
   '2. high': '153.4100',
   '3. low': '152.9801',
   '4. close': '153.1000',
   '5. volume': '5157040'},
  '2021-08-30 15:45:00': {'1. open': '153.2850',
   '2. high': '153.3400',
   '3. low': '153.1250',
   '4. close': '153.2600',
   '5. volume': '2407870'},
  '2021-08-30 15:30:00': {'1. open': '153.1300',
   '2. high': '153.2950',
   '3. low': '153.0600',
   '4. close': '153.2800',
   '5. volume': '1989681'},
  '2021-08-30 15:15:00': {'1. open': '153.0501',
   '2. high': '153.2950',
   '3. low': '152.9800',
   '4. close': '153.1300',
   '5. volume': '2223158'},
  '2021-08-30 15:00:00': {'1. open': '152.9800',
   '2. high': '153.0900',
   '3. low': '152.8107',
   '4. close': '153.0502',
   '5. volume': '2373885'},
  '2021-08-30 14:45:00': {'1. open': '153.2000',
   '2. high': '153.2800',
   '3. low': '148.9800',
   '4. close': '152.9800',
   '5. volume': '1942473'},
  '2021-08-30 14:30:00': {'1. open': '153.1816',
   '2. high': '153.3286',
   '3. low': '153.1100',
   '4. close': '153.2000',
   '5. volume': '1608144'},
  '2021-08-30 14:15:00': {'1. open': '153.4005',
   '2. high': '153.4900',
   '3. low': '153.1700',
   '4. close': '153.1850',
   '5. volume': '2715144'},
  '2021-08-30 14:00:00': {'1. open': '153.0750',
   '2. high': '153.4200',
   '3. low': '153.0600',
   '4. close': '153.4050',
   '5. volume': '2339378'},
  '2021-08-30 13:45:00': {'1. open': '153.0950',
   '2. high': '153.1100',
   '3. low': '152.8600',
   '4. close': '153.0750',
   '5. volume': '2167195'},
  '2021-08-30 13:30:00': {'1. open': '153.0974',
   '2. high': '153.1700',
   '3. low': '152.9600',
   '4. close': '153.0984',
   '5. volume': '1956700'},
  '2021-08-30 13:15:00': {'1. open': '152.9750',
   '2. high': '153.2500',
   '3. low': '152.9300',
   '4. close': '153.0901',
   '5. volume': '2621751'},
  '2021-08-30 13:00:00': {'1. open': '152.8400',
   '2. high': '153.1100',
   '3. low': '152.7700',
   '4. close': '152.9751',
   '5. volume': '3758694'},
  '2021-08-30 12:45:00': {'1. open': '152.5010',
   '2. high': '152.8500',
   '3. low': '152.4101',
   '4. close': '152.8400',
   '5. volume': '2395327'},
  '2021-08-30 12:30:00': {'1. open': '152.3801',
   '2. high': '152.5600',
   '3. low': '152.3150',
   '4. close': '152.5099',
   '5. volume': '1908855'},
  '2021-08-30 12:15:00': {'1. open': '152.4900',
   '2. high': '152.5200',
   '3. low': '152.1300',
   '4. close': '152.3852',
   '5. volume': '2715069'},
  '2021-08-30 12:00:00': {'1. open': '152.2850',
   '2. high': '152.5000',
   '3. low': '152.2500',
   '4. close': '152.4999',
   '5. volume': '2429172'},
  '2021-08-30 11:45:00': {'1. open': '151.9000',
   '2. high': '152.3100',
   '3. low': '151.8900',
   '4. close': '152.2861',
   '5. volume': '2315039'},
  '2021-08-30 11:30:00': {'1. open': '152.1600',
   '2. high': '152.2500',
   '3. low': '151.8000',
   '4. close': '151.8971',
   '5. volume': '2729137'},
  '2021-08-30 11:15:00': {'1. open': '151.9190',
   '2. high': '152.2600',
   '3. low': '151.8900',
   '4. close': '152.1541',
   '5. volume': '3393872'},
  '2021-08-30 11:00:00': {'1. open': '151.7700',
   '2. high': '151.9850',
   '3. low': '151.7200',
   '4. close': '151.9100',
   '5. volume': '2633489'},
  '2021-08-30 10:45:00': {'1. open': '151.7217',
   '2. high': '152.1300',
   '3. low': '151.6700',
   '4. close': '151.7650',
   '5. volume': '4958217'},
  '2021-08-30 10:30:00': {'1. open': '151.5400',
   '2. high': '151.8400',
   '3. low': '151.1500',
   '4. close': '151.7201',
   '5. volume': '4629836'},
  '2021-08-30 10:15:00': {'1. open': '150.7800',
   '2. high': '151.6700',
   '3. low': '150.7800',
   '4. close': '151.5350',
   '5. volume': '6943942'},
  '2021-08-30 10:00:00': {'1. open': '150.4300',
   '2. high': '150.9500',
   '3. low': '150.1500',
   '4. close': '150.7750',
   '5. volume': '5936440'},
  '2021-08-30 09:45:00': {'1. open': '149.0000',
   '2. high': '150.5300',
   '3. low': '148.6100',
   '4. close': '150.4301',
   '5. volume': '7520085'},
  '2021-08-30 09:30:00': {'1. open': '148.8900',
   '2. high': '149.0000',
   '3. low': '148.8600',
   '4. close': '149.0000',
   '5. volume': '73059'},
  '2021-08-30 09:15:00': {'1. open': '148.8600',
   '2. high': '148.8900',
   '3. low': '148.8200',
   '4. close': '148.8800',
   '5. volume': '45158'},
  '2021-08-30 09:00:00': {'1. open': '148.8600',
   '2. high': '148.9000',
   '3. low': '148.8300',
   '4. close': '148.8500',
   '5. volume': '46817'},
  '2021-08-30 08:45:00': {'1. open': '148.8800',
   '2. high': '148.9000',
   '3. low': '148.7400',
   '4. close': '148.8800',
   '5. volume': '23546'},
  '2021-08-30 08:30:00': {'1. open': '148.8500',
   '2. high': '148.9300',
   '3. low': '148.7500',
   '4. close': '148.8800',
   '5. volume': '45012'},
  '2021-08-30 08:15:00': {'1. open': '148.8100',
   '2. high': '148.8800',
   '3. low': '148.2290',
   '4. close': '148.8500',
   '5. volume': '67631'},
  '2021-08-30 08:00:00': {'1. open': '148.7400',
   '2. high': '148.7800',
   '3. low': '148.7000',
   '4. close': '148.7800',
   '5. volume': '11728'},
  '2021-08-30 07:45:00': {'1. open': '148.7700',
   '2. high': '148.8000',
   '3. low': '148.7500',
   '4. close': '148.7600',
   '5. volume': '9052'},
  '2021-08-30 07:30:00': {'1. open': '148.7700',
   '2. high': '148.8400',
   '3. low': '148.7700',
   '4. close': '148.7900',
   '5. volume': '11009'},
  '2021-08-30 07:15:00': {'1. open': '148.7900',
   '2. high': '148.8000',
   '3. low': '148.7100',
   '4. close': '148.7600',
   '5. volume': '15984'},
  '2021-08-30 07:00:00': {'1. open': '148.8300',
   '2. high': '148.8300',
   '3. low': '148.8300',
   '4. close': '148.8300',
   '5. volume': '164'},
  '2021-08-30 06:45:00': {'1. open': '149.0400',
   '2. high': '149.0500',
   '3. low': '148.8300',
   '4. close': '148.8700',
   '5. volume': '3890'},
  '2021-08-30 06:30:00': {'1. open': '148.7900',
   '2. high': '149.0000',
   '3. low': '148.7700',
   '4. close': '149.0000',
   '5. volume': '11363'},
  '2021-08-30 06:15:00': {'1. open': '148.7400',
   '2. high': '148.7900',
   '3. low': '148.7400',
   '4. close': '148.7900',
   '5. volume': '1915'},
  '2021-08-30 06:00:00': {'1. open': '148.7500',
   '2. high': '148.7500',
   '3. low': '148.7500',
   '4. close': '148.7500',
   '5. volume': '654'},
  '2021-08-30 05:45:00': {'1. open': '148.8100',
   '2. high': '148.8200',
   '3. low': '148.7400',
   '4. close': '148.7400',
   '5. volume': '1757'},
  '2021-08-30 05:30:00': {'1. open': '148.7800',
   '2. high': '148.8200',
   '3. low': '148.7700',
   '4. close': '148.8200',
   '5. volume': '3884'},
  '2021-08-30 05:15:00': {'1. open': '148.7000',
   '2. high': '148.7200',
   '3. low': '148.7000',
   '4. close': '148.7200',
   '5. volume': '1150'},
  '2021-08-30 05:00:00': {'1. open': '148.6200',
   '2. high': '148.6400',
   '3. low': '148.6200',
   '4. close': '148.6400',
   '5. volume': '1641'},
  '2021-08-30 04:45:00': {'1. open': '148.6200',
   '2. high': '148.6300',
   '3. low': '148.6200',
   '4. close': '148.6200',
   '5. volume': '4832'},
  '2021-08-30 04:30:00': {'1. open': '148.6500',
   '2. high': '148.6900',
   '3. low': '148.5600',
   '4. close': '148.6400',
   '5. volume': '10518'},
  '2021-08-30 04:15:00': {'1. open': '148.5900',
   '2. high': '148.7800',
   '3. low': '148.5000',
   '4. close': '148.6700',
   '5. volume': '11193'},
  '2021-08-27 20:00:00': {'1. open': '148.4400',
   '2. high': '148.5000',
   '3. low': '148.4000',
   '4. close': '148.4800',
   '5. volume': '16792'},
  '2021-08-27 19:45:00': {'1. open': '148.4700',
   '2. high': '148.4800',
   '3. low': '148.4400',
   '4. close': '148.4400',
   '5. volume': '10194'},
  '2021-08-27 19:30:00': {'1. open': '148.4800',
   '2. high': '148.4900',
   '3. low': '148.4700',
   '4. close': '148.4800',
   '5. volume': '1711'},
  '2021-08-27 19:15:00': {'1. open': '148.5200',
   '2. high': '148.5200',
   '3. low': '148.4900',
   '4. close': '148.4900',
   '5. volume': '1971'},
  '2021-08-27 19:00:00': {'1. open': '148.4700',
   '2. high': '148.5000',
   '3. low': '148.4500',
   '4. close': '148.5000',
   '5. volume': '7110'},
  '2021-08-27 18:45:00': {'1. open': '148.4600',
   '2. high': '148.4700',
   '3. low': '148.4500',
   '4. close': '148.4600',
   '5. volume': '4205'},
  '2021-08-27 18:30:00': {'1. open': '148.4700',
   '2. high': '148.4700',
   '3. low': '148.4300',
   '4. close': '148.4600',
   '5. volume': '8100'},
  '2021-08-27 18:15:00': {'1. open': '148.4800',
   '2. high': '148.4900',
   '3. low': '148.4700',
   '4. close': '148.4700',
   '5. volume': '4889'},
  '2021-08-27 18:00:00': {'1. open': '148.4200',
   '2. high': '148.4900',
   '3. low': '148.4100',
   '4. close': '148.4800',
   '5. volume': '7213'},
  '2021-08-27 17:45:00': {'1. open': '148.4200',
   '2. high': '148.4600',
   '3. low': '148.4200',
   '4. close': '148.4200',
   '5. volume': '5871'},
  '2021-08-27 17:30:00': {'1. open': '148.4300',
   '2. high': '148.4900',
   '3. low': '148.4100',
   '4. close': '148.4200',
   '5. volume': '14406'},
  '2021-08-27 17:15:00': {'1. open': '148.4600',
   '2. high': '148.6000',
   '3. low': '148.4600',
   '4. close': '148.4600',
   '5. volume': '88278'},
  '2021-08-27 17:00:00': {'1. open': '148.4900',
   '2. high': '148.6000',
   '3. low': '148.4300',
   '4. close': '148.4800',
   '5. volume': '13000'},
  '2021-08-27 16:45:00': {'1. open': '148.5100',
   '2. high': '148.5200',
   '3. low': '148.4700',
   '4. close': '148.5100',
   '5. volume': '23530'},
  '2021-08-27 16:30:00': {'1. open': '148.5000',
   '2. high': '148.5200',
   '3. low': '148.4800',
   '4. close': '148.5100',
   '5. volume': '17741'},
  '2021-08-27 16:15:00': {'1. open': '148.6000',
   '2. high': '148.6700',
   '3. low': '148.4800',
   '4. close': '148.5000',
   '5. volume': '1045290'},
  '2021-08-27 16:00:00': {'1. open': '148.6250',
   '2. high': '148.6700',
   '3. low': '148.4400',
   '4. close': '148.6000',
   '5. volume': '3623198'},
  '2021-08-27 15:45:00': {'1. open': '148.5316',
   '2. high': '148.6300',
   '3. low': '148.3900',
   '4. close': '148.6241',
   '5. volume': '1680154'},
  '2021-08-27 15:30:00': {'1. open': '148.5973',
   '2. high': '148.6700',
   '3. low': '148.5300',
   '4. close': '148.5350',
   '5. volume': '1042317'},
  '2021-08-27 15:15:00': {'1. open': '148.5450',
   '2. high': '148.6200',
   '3. low': '148.4600',
   '4. close': '148.5930',
   '5. volume': '985745'},
  '2021-08-27 15:00:00': {'1. open': '148.6841',
   '2. high': '148.7000',
   '3. low': '148.5000',
   '4. close': '148.5450',
   '5. volume': '775419'},
  '2021-08-27 14:45:00': {'1. open': '148.6450',
   '2. high': '148.7099',
   '3. low': '148.5700',
   '4. close': '148.6837',
   '5. volume': '809327'},
  '2021-08-27 14:30:00': {'1. open': '148.6314',
   '2. high': '148.7400',
   '3. low': '148.5044',
   '4. close': '148.6450',
   '5. volume': '1011620'},
  '2021-08-27 14:15:00': {'1. open': '148.6631',
   '2. high': '148.6714',
   '3. low': '148.5400',
   '4. close': '148.6381',
   '5. volume': '923656'},
  '2021-08-27 14:00:00': {'1. open': '148.6550',
   '2. high': '148.7050',
   '3. low': '148.5600',
   '4. close': '148.6660',
   '5. volume': '803422'},
  '2021-08-27 13:45:00': {'1. open': '148.5800',
   '2. high': '148.7500',
   '3. low': '148.5500',
   '4. close': '148.6600',
   '5. volume': '1012319'},
  '2021-08-27 13:30:00': {'1. open': '148.4850',
   '2. high': '148.7100',
   '3. low': '148.4300',
   '4. close': '148.5886',
   '5. volume': '1021803'},
  '2021-08-27 13:15:00': {'1. open': '148.4000',
   '2. high': '148.5900',
   '3. low': '148.3318',
   '4. close': '148.4816',
   '5. volume': '1149516'},
  '2021-08-27 13:00:00': {'1. open': '148.3500',
   '2. high': '148.4200',
   '3. low': '148.1910',
   '4. close': '148.4100',
   '5. volume': '925918'},
  '2021-08-27 12:45:00': {'1. open': '148.1850',
   '2. high': '148.3900',
   '3. low': '148.1500',
   '4. close': '148.3500',
   '5. volume': '1072867'},
  '2021-08-27 12:30:00': {'1. open': '148.3450',
   '2. high': '148.3871',
   '3. low': '148.1800',
   '4. close': '148.1999',
   '5. volume': '1809720'},
  '2021-08-27 12:15:00': {'1. open': '148.5150',
   '2. high': '148.6350',
   '3. low': '148.2900',
   '4. close': '148.3499',
   '5. volume': '1492880'},
  '2021-08-27 12:00:00': {'1. open': '148.3500',
   '2. high': '148.5200',
   '3. low': '148.2200',
   '4. close': '148.5100',
   '5. volume': '1634915'},
  '2021-08-27 11:45:00': {'1. open': '147.7750',
   '2. high': '148.3750',
   '3. low': '147.7750',
   '4. close': '148.3500',
   '5. volume': '1809868'},
  '2021-08-27 11:30:00': {'1. open': '147.9000',
   '2. high': '147.9900',
   '3. low': '147.7700',
   '4. close': '147.7870',
   '5. volume': '1605475'},
  '2021-08-27 11:15:00': {'1. open': '148.0200',
   '2. high': '148.0950',
   '3. low': '147.8800',
   '4. close': '147.9001',
   '5. volume': '1606690'}}}

In [5]:
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-30 20:00:00  152.8500  152.9499  152.8200  152.9100     27814
2021-08-30 19:45:00  152.9000  152.9700  152.8400  152.8700     39775
2021-08-30 19:30:00  152.9000  152.9500  152.8801  152.9000     11118
2021-08-30 19:15:00  152.9800  153.0000  152.8800  152.9100     15037
2021-08-30 19:00:00  153.0000  153.0100  152.9100  152.9700     18445

In [6]:
function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
size = 'compact'
token = 'ZWDF2CNNPSO3CAGY'

url = 'https://www.alphavantage.co/query'
parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

r = requests.get(url, params=parametros)
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-30 20:00:00  152.8500  152.9499  152.8200  152.9100     27814
2021-08-30 19:45:00  152.9000  152.9700  152.8400  152.8700     39775
2021-08-30 19:30:00  152.9000  152.9500  152.8801  152.9000     11118
2021-08-30 19:15:00  152.9800  153.0000  152.8800  152.9100     15037
2021-08-30 19:00:00  153.0000  153.0100  152.9100  152.9700     18445

In [7]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    data = r.json()['Time Series (15min)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-30 20:00:00  152.8500  152.9499  152.8200  152.9100     27814
2021-08-30 19:45:00  152.9000  152.9700  152.8400  152.8700     39775
2021-08-30 19:30:00  152.9000  152.9500  152.8801  152.9000     11118
2021-08-30 19:15:00  152.9800  153.0000  152.8800  152.9100     15037
2021-08-30 19:00:00  153.0000  153.0100  152.9100  152.9700     18445

In [8]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (15min)'

In [9]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    
    # En esta línea arreglo ese tema
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-30 20:00:00  152.9100  152.9200  152.9000  152.9100      1593
2021-08-30 19:59:00  152.9300  152.9300  152.9100  152.9200      6905
2021-08-30 19:58:00  152.9200  152.9200  152.9000  152.9000      1369
2021-08-30 19:57:00  152.9100  152.9300  152.9100  152.9200       741
2021-08-30 19:56:00  152.9300  152.9499  152.9300  152.9499      2631

In [10]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (12min)'

In [11]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

<Response [200]>

In [12]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r.text)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

{
    "Note": "Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency."
}

In [13]:
TOKEN = 'ZWDF2CNNPSO3CAGY'

def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')
data.head()

KeyError: 'Time Series (15min)'

In [14]:
def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')

data.round(2).head()

KeyError: 'Time Series (15min)'

In [15]:
data = data.astype('float')
data.round(2).head()

AttributeError: 'NoneType' object has no attribute 'astype'

In [16]:
def getIntra(symbol, interval, size):
    function='TIME_SERIES_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getIntra(symbol='AAPL', interval='15min', size='compact')
data.round(2).head()

KeyError: 'Time Series (15min)'

In [19]:
def getDaily(symbol, size):
    function = 'TIME_SERIES_DAILY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDaily(symbol='AAPL', size='compact')
data.head()

              Open    High      Low    Close       Volume
Date
2021-04-09  129.80  133.04  129.470  132.995  106686703.0
2021-04-12  132.52  132.85  130.630  131.240   91419983.0
2021-04-13  132.44  134.66  131.930  134.430   91266545.0
2021-04-14  134.94  135.00  131.655  132.030   87222782.0
2021-04-15  133.82  135.00  133.640  134.500   89347102.0

In [20]:
def getDailyAdj(symbol, size):
    function = 'TIME_SERIES_DAILY_ADJUSTED'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume', 'Div', 'Split']
    dataDF = dataDF.sort_values('Date', ascending=True).round(2)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDailyAdj(symbol='AAPL', size='compact')
data.head()

              Open    High     Low   Close  AdjClose       Volume  Div  Split
Date
2021-04-09  129.80  133.04  129.47  133.00    132.57  106686703.0  0.0    1.0
2021-04-12  132.52  132.85  130.63  131.24    130.82   91419983.0  0.0    1.0
2021-04-13  132.44  134.66  131.93  134.43    134.00   91266545.0  0.0    1.0
2021-04-14  134.94  135.00  131.66  132.03    131.61   87222782.0  0.0    1.0
2021-04-15  133.82  135.00  133.64  134.50    134.07   89347102.0  0.0    1.0

In [21]:
data = getDailyAdj(symbol='AAPL', size='full')
data.loc[data.Split > 1]

              Open    High     Low   Close  AdjClose       Volume  Div  Split
Date
2000-06-21   50.50   56.94   50.31   55.63      0.85    4375000.0  0.0    2.0
2005-02-28   44.68   45.14   43.96   44.86      1.38   11635900.0  0.0    2.0
2014-06-09   92.70   93.88   91.75   93.70     21.04   75414997.0  0.0    7.0
2020-08-31  127.58  131.00  126.00  129.04    128.21  223505733.0  0.0    4.0

In [22]:
data = getDailyAdj(symbol='KO', size='full')
data.loc[data.Div > 0].Div.count()

87