In [1]:
token = 'ZWDF2CNNPSO3CAGY'

In [2]:
# Importamos las librerías

import pandas as pd
import requests
import json

# Definimos las variables (parámetros)

function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
token = 'ZWDF2CNNPSO3CAGY'

# Concateno la URL a visitar:

urlBase = 'https://www.alphavantage.co/query'
url = urlBase + '?function=' + function + '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

# Acá hago el llamado/Request
r = requests.get(url)

print(r)

<Response [200]>

In [3]:
print(r.url, '\n\n', r.cookies, '\n\n', r.status_code, '\n\n', r.headers)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=ZWDF2CNNPSO3CAGY

 <RequestsCookieJar[]>

 200

 {'Date': 'Thu, 23 Sep 2021 12:31:45 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'X-Frame-Options': 'SAMEORIGIN', 'Allow': 'GET, HEAD, OPTIONS', 'Vary': 'Cookie', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '6933cab0eef2d7f5-EZE', 'Content-Encoding': 'gzip'}

In [4]:
r.json()

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2021-09-22 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (15min)': {'2021-09-22 20:00:00': {'1. open': '146.1400',
   '2. high': '146.2500',
   '3. low': '146.1300',
   '4. close': '146.2500',
   '5. volume': '38702'},
  '2021-09-22 19:45:00': {'1. open': '146.1500',
   '2. high': '146.1500',
   '3. low': '146.1100',
   '4. close': '146.1400',
   '5. volume': '7331'},
  '2021-09-22 19:30:00': {'1. open': '146.1200',
   '2. high': '146.1500',
   '3. low': '146.1100',
   '4. close': '146.1300',
   '5. volume': '9186'},
  '2021-09-22 19:15:00': {'1. open': '146.0100',
   '2. high': '146.1500',
   '3. low': '146.0100',
   '4. close': '146.1000',
   '5. volume': '9001'},
  '2021-09-22 19:00:00': {'1. open': '146.0500',
   '2. high': '146.1200',
   '3. low': '146.0000',
   '4. close': '146.1100',
   '5. volume': '27544'},
  '2021-09-22 18:45:00': {'1. open': '146.0400',
   '2. high': '146.0700',
   '3. low': '146.0200',
   '4. close': '146.0500',
   '5. volume': '8115'},
  '2021-09-22 18:30:00': {'1. open': '146.0100',
   '2. high': '146.1000',
   '3. low': '145.9500',
   '4. close': '146.0900',
   '5. volume': '33969'},
  '2021-09-22 18:15:00': {'1. open': '145.9800',
   '2. high': '146.0400',
   '3. low': '145.9800',
   '4. close': '146.0200',
   '5. volume': '13562'},
  '2021-09-22 18:00:00': {'1. open': '145.9600',
   '2. high': '146.0000',
   '3. low': '145.9200',
   '4. close': '145.9800',
   '5. volume': '7090'},
  '2021-09-22 17:45:00': {'1. open': '145.9099',
   '2. high': '145.9200',
   '3. low': '145.9099',
   '4. close': '145.9200',
   '5. volume': '4440'},
  '2021-09-22 17:30:00': {'1. open': '145.8700',
   '2. high': '145.9200',
   '3. low': '145.8500',
   '4. close': '145.8700',
   '5. volume': '54392'},
  '2021-09-22 17:15:00': {'1. open': '145.9000',
   '2. high': '145.9100',
   '3. low': '145.8600',
   '4. close': '145.8600',
   '5. volume': '4990'},
  '2021-09-22 17:00:00': {'1. open': '145.9000',
   '2. high': '145.9200',
   '3. low': '145.8500',
   '4. close': '145.8900',
   '5. volume': '110207'},
  '2021-09-22 16:45:00': {'1. open': '145.9600',
   '2. high': '145.9600',
   '3. low': '145.8500',
   '4. close': '145.8720',
   '5. volume': '16791'},
  '2021-09-22 16:30:00': {'1. open': '145.9900',
   '2. high': '146.0000',
   '3. low': '145.8500',
   '4. close': '145.9700',
   '5. volume': '54285'},
  '2021-09-22 16:15:00': {'1. open': '145.8500',
   '2. high': '146.0300',
   '3. low': '145.8201',
   '4. close': '146.0000',
   '5. volume': '1737760'},
  '2021-09-22 16:00:00': {'1. open': '145.8700',
   '2. high': '146.2500',
   '3. low': '145.7000',
   '4. close': '145.8300',
   '5. volume': '5639970'},
  '2021-09-22 15:45:00': {'1. open': '146.1700',
   '2. high': '146.2300',
   '3. low': '145.7800',
   '4. close': '145.8700',
   '5. volume': '3085406'},
  '2021-09-22 15:30:00': {'1. open': '145.8500',
   '2. high': '146.4300',
   '3. low': '145.7650',
   '4. close': '146.1700',
   '5. volume': '3324367'},
  '2021-09-22 15:15:00': {'1. open': '145.4100',
   '2. high': '145.9208',
   '3. low': '145.2200',
   '4. close': '145.8550',
   '5. volume': '2866516'},
  '2021-09-22 15:00:00': {'1. open': '145.6800',
   '2. high': '145.7400',
   '3. low': '145.0600',
   '4. close': '145.4100',
   '5. volume': '3225073'},
  '2021-09-22 14:45:00': {'1. open': '146.0800',
   '2. high': '146.1599',
   '3. low': '145.4499',
   '4. close': '145.6700',
   '5. volume': '3309907'},
  '2021-09-22 14:30:00': {'1. open': '146.0900',
   '2. high': '146.4294',
   '3. low': '145.8300',
   '4. close': '146.0850',
   '5. volume': '3753948'},
  '2021-09-22 14:15:00': {'1. open': '145.0000',
   '2. high': '146.1800',
   '3. low': '144.7500',
   '4. close': '146.0925',
   '5. volume': '4506271'},
  '2021-09-22 14:00:00': {'1. open': '145.1800',
   '2. high': '145.3100',
   '3. low': '145.0300',
   '4. close': '145.3000',
   '5. volume': '1093544'},
  '2021-09-22 13:45:00': {'1. open': '145.2700',
   '2. high': '145.3900',
   '3. low': '145.1400',
   '4. close': '145.1850',
   '5. volume': '1234615'},
  '2021-09-22 13:30:00': {'1. open': '145.1668',
   '2. high': '145.3200',
   '3. low': '145.0400',
   '4. close': '145.2750',
   '5. volume': '1237523'},
  '2021-09-22 13:15:00': {'1. open': '145.2301',
   '2. high': '145.2571',
   '3. low': '145.0700',
   '4. close': '145.1650',
   '5. volume': '1289395'},
  '2021-09-22 13:00:00': {'1. open': '145.2900',
   '2. high': '145.3867',
   '3. low': '145.1900',
   '4. close': '145.2341',
   '5. volume': '1230421'},
  '2021-09-22 12:45:00': {'1. open': '145.5084',
   '2. high': '145.6950',
   '3. low': '145.2800',
   '4. close': '145.2950',
   '5. volume': '1408860'},
  '2021-09-22 12:30:00': {'1. open': '145.5000',
   '2. high': '145.6400',
   '3. low': '145.2233',
   '4. close': '145.5000',
   '5. volume': '1122187'},
  '2021-09-22 12:15:00': {'1. open': '145.5200',
   '2. high': '145.6200',
   '3. low': '145.3700',
   '4. close': '145.5056',
   '5. volume': '1180151'},
  '2021-09-22 12:00:00': {'1. open': '145.4717',
   '2. high': '145.8900',
   '3. low': '145.3000',
   '4. close': '145.5300',
   '5. volume': '2650430'},
  '2021-09-22 11:45:00': {'1. open': '145.0800',
   '2. high': '145.5000',
   '3. low': '145.0800',
   '4. close': '145.4800',
   '5. volume': '1918802'},
  '2021-09-22 11:30:00': {'1. open': '145.1550',
   '2. high': '145.2900',
   '3. low': '145.0200',
   '4. close': '145.0900',
   '5. volume': '1782307'},
  '2021-09-22 11:15:00': {'1. open': '144.9100',
   '2. high': '145.2200',
   '3. low': '144.9100',
   '4. close': '145.1500',
   '5. volume': '1721430'},
  '2021-09-22 11:00:00': {'1. open': '145.0999',
   '2. high': '145.1600',
   '3. low': '144.8800',
   '4. close': '144.9050',
   '5. volume': '2030544'},
  '2021-09-22 10:45:00': {'1. open': '145.1400',
   '2. high': '145.2483',
   '3. low': '144.9250',
   '4. close': '145.0910',
   '5. volume': '1967790'},
  '2021-09-22 10:30:00': {'1. open': '144.9700',
   '2. high': '145.2900',
   '3. low': '144.9500',
   '4. close': '145.1314',
   '5. volume': '2355736'},
  '2021-09-22 10:15:00': {'1. open': '144.5900',
   '2. high': '145.2000',
   '3. low': '144.5900',
   '4. close': '144.9655',
   '5. volume': '4113765'},
  '2021-09-22 10:00:00': {'1. open': '143.9900',
   '2. high': '144.5900',
   '3. low': '143.9700',
   '4. close': '144.5850',
   '5. volume': '3090622'},
  '2021-09-22 09:45:00': {'1. open': '144.4500',
   '2. high': '144.8900',
   '3. low': '143.7001',
   '4. close': '144.0000',
   '5. volume': '5265088'},
  '2021-09-22 09:30:00': {'1. open': '144.0900',
   '2. high': '144.5000',
   '3. low': '144.0700',
   '4. close': '144.4000',
   '5. volume': '257151'},
  '2021-09-22 09:15:00': {'1. open': '144.0700',
   '2. high': '144.2700',
   '3. low': '144.0200',
   '4. close': '144.0510',
   '5. volume': '138081'},
  '2021-09-22 09:00:00': {'1. open': '144.1000',
   '2. high': '144.1100',
   '3. low': '144.0200',
   '4. close': '144.0500',
   '5. volume': '32016'},
  '2021-09-22 08:45:00': {'1. open': '144.0900',
   '2. high': '144.1600',
   '3. low': '144.0500',
   '4. close': '144.1200',
   '5. volume': '57322'},
  '2021-09-22 08:30:00': {'1. open': '143.9000',
   '2. high': '144.0900',
   '3. low': '143.8700',
   '4. close': '144.0900',
   '5. volume': '58627'},
  '2021-09-22 08:15:00': {'1. open': '144.0499',
   '2. high': '144.1200',
   '3. low': '143.7800',
   '4. close': '143.8800',
   '5. volume': '106854'},
  '2021-09-22 08:00:00': {'1. open': '143.8500',
   '2. high': '143.9100',
   '3. low': '143.7800',
   '4. close': '143.8300',
   '5. volume': '21847'},
  '2021-09-22 07:45:00': {'1. open': '143.8700',
   '2. high': '143.9500',
   '3. low': '143.7800',
   '4. close': '143.8500',
   '5. volume': '38600'},
  '2021-09-22 07:30:00': {'1. open': '144.0600',
   '2. high': '144.0600',
   '3. low': '143.8900',
   '4. close': '143.9100',
   '5. volume': '77956'},
  '2021-09-22 07:15:00': {'1. open': '144.1300',
   '2. high': '144.1700',
   '3. low': '144.0200',
   '4. close': '144.0200',
   '5. volume': '37430'},
  '2021-09-22 07:00:00': {'1. open': '144.1900',
   '2. high': '144.1900',
   '3. low': '144.1300',
   '4. close': '144.1600',
   '5. volume': '6968'},
  '2021-09-22 06:45:00': {'1. open': '144.1800',
   '2. high': '144.2200',
   '3. low': '144.1800',
   '4. close': '144.1900',
   '5. volume': '1068'},
  '2021-09-22 06:30:00': {'1. open': '144.1500',
   '2. high': '144.2100',
   '3. low': '144.1500',
   '4. close': '144.1700',
   '5. volume': '4836'},
  '2021-09-22 06:15:00': {'1. open': '144.1100',
   '2. high': '144.1600',
   '3. low': '144.1100',
   '4. close': '144.1600',
   '5. volume': '1276'},
  '2021-09-22 06:00:00': {'1. open': '144.0700',
   '2. high': '144.1500',
   '3. low': '144.0700',
   '4. close': '144.1000',
   '5. volume': '5274'},
  '2021-09-22 05:45:00': {'1. open': '144.1000',
   '2. high': '144.1200',
   '3. low': '144.0000',
   '4. close': '144.0700',
   '5. volume': '4490'},
  '2021-09-22 05:15:00': {'1. open': '144.1900',
   '2. high': '144.1900',
   '3. low': '144.1900',
   '4. close': '144.1900',
   '5. volume': '148'},
  '2021-09-22 05:00:00': {'1. open': '144.1100',
   '2. high': '144.2700',
   '3. low': '144.1100',
   '4. close': '144.2200',
   '5. volume': '4782'},
  '2021-09-22 04:45:00': {'1. open': '144.0800',
   '2. high': '144.0800',
   '3. low': '144.0400',
   '4. close': '144.0600',
   '5. volume': '3395'},
  '2021-09-22 04:30:00': {'1. open': '144.0400',
   '2. high': '144.1400',
   '3. low': '144.0300',
   '4. close': '144.1100',
   '5. volume': '4255'},
  '2021-09-22 04:15:00': {'1. open': '143.7100',
   '2. high': '144.0000',
   '3. low': '143.7100',
   '4. close': '144.0000',
   '5. volume': '5337'},
  '2021-09-21 20:00:00': {'1. open': '143.1500',
   '2. high': '143.2000',
   '3. low': '143.0700',
   '4. close': '143.0900',
   '5. volume': '20933'},
  '2021-09-21 19:45:00': {'1. open': '143.1600',
   '2. high': '143.2300',
   '3. low': '143.1500',
   '4. close': '143.1500',
   '5. volume': '8957'},
  '2021-09-21 19:30:00': {'1. open': '143.1600',
   '2. high': '143.2300',
   '3. low': '143.1600',
   '4. close': '143.2000',
   '5. volume': '11662'},
  '2021-09-21 19:15:00': {'1. open': '143.2100',
   '2. high': '143.2300',
   '3. low': '143.1500',
   '4. close': '143.1600',
   '5. volume': '7010'},
  '2021-09-21 19:00:00': {'1. open': '143.2700',
   '2. high': '143.2700',
   '3. low': '143.2300',
   '4. close': '143.2300',
   '5. volume': '2402'},
  '2021-09-21 18:45:00': {'1. open': '143.2600',
   '2. high': '143.3000',
   '3. low': '143.2600',
   '4. close': '143.3000',
   '5. volume': '4983'},
  '2021-09-21 18:30:00': {'1. open': '143.3000',
   '2. high': '143.3400',
   '3. low': '143.2200',
   '4. close': '143.3000',
   '5. volume': '4951'},
  '2021-09-21 18:15:00': {'1. open': '143.1800',
   '2. high': '143.3900',
   '3. low': '143.1200',
   '4. close': '143.3600',
   '5. volume': '20862'},
  '2021-09-21 18:00:00': {'1. open': '143.1300',
   '2. high': '143.2299',
   '3. low': '143.1200',
   '4. close': '143.1800',
   '5. volume': '8128'},
  '2021-09-21 17:45:00': {'1. open': '143.1700',
   '2. high': '143.1700',
   '3. low': '143.1000',
   '4. close': '143.1100',
   '5. volume': '5598'},
  '2021-09-21 17:30:00': {'1. open': '143.1700',
   '2. high': '143.1700',
   '3. low': '143.0700',
   '4. close': '143.1400',
   '5. volume': '10271'},
  '2021-09-21 17:15:00': {'1. open': '143.2300',
   '2. high': '143.4300',
   '3. low': '143.1500',
   '4. close': '143.1500',
   '5. volume': '506581'},
  '2021-09-21 17:00:00': {'1. open': '143.0800',
   '2. high': '143.2500',
   '3. low': '143.0700',
   '4. close': '143.2300',
   '5. volume': '19535'},
  '2021-09-21 16:45:00': {'1. open': '143.2000',
   '2. high': '143.4300',
   '3. low': '143.0800',
   '4. close': '143.0800',
   '5. volume': '28386'},
  '2021-09-21 16:30:00': {'1. open': '143.1500',
   '2. high': '143.4300',
   '3. low': '143.1000',
   '4. close': '143.2000',
   '5. volume': '49196'},
  '2021-09-21 16:15:00': {'1. open': '143.4300',
   '2. high': '143.4700',
   '3. low': '143.1100',
   '4. close': '143.1500',
   '5. volume': '1955308'},
  '2021-09-21 16:00:00': {'1. open': '143.9900',
   '2. high': '143.9900',
   '3. low': '143.4000',
   '4. close': '143.4100',
   '5. volume': '4493131'},
  '2021-09-21 15:45:00': {'1. open': '144.0800',
   '2. high': '144.2112',
   '3. low': '143.8900',
   '4. close': '143.9850',
   '5. volume': '2172677'},
  '2021-09-21 15:30:00': {'1. open': '144.0800',
   '2. high': '144.2300',
   '3. low': '143.8700',
   '4. close': '144.0900',
   '5. volume': '1929780'},
  '2021-09-21 15:15:00': {'1. open': '143.8489',
   '2. high': '144.1200',
   '3. low': '143.8400',
   '4. close': '144.0750',
   '5. volume': '1952508'},
  '2021-09-21 15:00:00': {'1. open': '143.5505',
   '2. high': '144.1300',
   '3. low': '143.4700',
   '4. close': '143.8463',
   '5. volume': '2195901'},
  '2021-09-21 14:45:00': {'1. open': '143.2400',
   '2. high': '143.6100',
   '3. low': '143.2100',
   '4. close': '143.5512',
   '5. volume': '1582726'},
  '2021-09-21 14:30:00': {'1. open': '143.4550',
   '2. high': '143.5200',
   '3. low': '143.1950',
   '4. close': '143.2340',
   '5. volume': '1634644'},
  '2021-09-21 14:15:00': {'1. open': '143.4600',
   '2. high': '143.7000',
   '3. low': '143.4299',
   '4. close': '143.4522',
   '5. volume': '1369497'},
  '2021-09-21 14:00:00': {'1. open': '143.3700',
   '2. high': '143.7400',
   '3. low': '143.2900',
   '4. close': '143.4538',
   '5. volume': '1819185'},
  '2021-09-21 13:45:00': {'1. open': '143.4700',
   '2. high': '143.5500',
   '3. low': '143.3100',
   '4. close': '143.3700',
   '5. volume': '1478402'},
  '2021-09-21 13:30:00': {'1. open': '143.8019',
   '2. high': '143.9000',
   '3. low': '143.4500',
   '4. close': '143.4750',
   '5. volume': '1555243'},
  '2021-09-21 13:15:00': {'1. open': '143.8700',
   '2. high': '143.9700',
   '3. low': '143.7100',
   '4. close': '143.8050',
   '5. volume': '1426124'},
  '2021-09-21 13:00:00': {'1. open': '144.1600',
   '2. high': '144.2700',
   '3. low': '143.7300',
   '4. close': '143.8700',
   '5. volume': '1554367'},
  '2021-09-21 12:45:00': {'1. open': '144.0413',
   '2. high': '144.2100',
   '3. low': '143.9500',
   '4. close': '144.1536',
   '5. volume': '1243870'},
  '2021-09-21 12:30:00': {'1. open': '144.3000',
   '2. high': '144.3599',
   '3. low': '144.0350',
   '4. close': '144.0402',
   '5. volume': '1807356'},
  '2021-09-21 12:15:00': {'1. open': '143.9700',
   '2. high': '144.3500',
   '3. low': '143.9200',
   '4. close': '144.3050',
   '5. volume': '2045715'},
  '2021-09-21 12:00:00': {'1. open': '144.1189',
   '2. high': '144.2300',
   '3. low': '143.9150',
   '4. close': '143.9750',
   '5. volume': '1704036'},
  '2021-09-21 11:45:00': {'1. open': '143.5200',
   '2. high': '144.2000',
   '3. low': '143.5200',
   '4. close': '144.1137',
   '5. volume': '2685781'},
  '2021-09-21 11:30:00': {'1. open': '143.8200',
   '2. high': '143.9000',
   '3. low': '143.4200',
   '4. close': '143.5200',
   '5. volume': '2278452'},
  '2021-09-21 11:15:00': {'1. open': '143.0200',
   '2. high': '143.8300',
   '3. low': '142.7800',
   '4. close': '143.8300',
   '5. volume': '3043629'},
  '2021-09-21 11:00:00': {'1. open': '143.6200',
   '2. high': '143.6900',
   '3. low': '142.8800',
   '4. close': '143.0150',
   '5. volume': '3568290'}}}

In [5]:
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-22 20:00:00  146.1400  146.2500  146.1300  146.2500     38702
2021-09-22 19:45:00  146.1500  146.1500  146.1100  146.1400      7331
2021-09-22 19:30:00  146.1200  146.1500  146.1100  146.1300      9186
2021-09-22 19:15:00  146.0100  146.1500  146.0100  146.1000      9001
2021-09-22 19:00:00  146.0500  146.1200  146.0000  146.1100     27544

In [6]:
function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
size = 'compact'
token = 'ZWDF2CNNPSO3CAGY'

url = 'https://www.alphavantage.co/query'
parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

r = requests.get(url, params=parametros)
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-22 20:00:00  146.1400  146.2500  146.1300  146.2500     38702
2021-09-22 19:45:00  146.1500  146.1500  146.1100  146.1400      7331
2021-09-22 19:30:00  146.1200  146.1500  146.1100  146.1300      9186
2021-09-22 19:15:00  146.0100  146.1500  146.0100  146.1000      9001
2021-09-22 19:00:00  146.0500  146.1200  146.0000  146.1100     27544

In [7]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    data = r.json()['Time Series (15min)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-22 20:00:00  146.1400  146.2500  146.1300  146.2500     38702
2021-09-22 19:45:00  146.1500  146.1500  146.1100  146.1400      7331
2021-09-22 19:30:00  146.1200  146.1500  146.1100  146.1300      9186
2021-09-22 19:15:00  146.0100  146.1500  146.0100  146.1000      9001
2021-09-22 19:00:00  146.0500  146.1200  146.0000  146.1100     27544

In [8]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (15min)'

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    
    # En esta línea arreglo ese tema
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [ ]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r.text)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

In [9]:
TOKEN = 'ZWDF2CNNPSO3CAGY'

def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-22 20:00:00  146.1400  146.2500  146.1300  146.2500     38702
2021-09-22 19:45:00  146.1500  146.1500  146.1100  146.1400      7331
2021-09-22 19:30:00  146.1200  146.1500  146.1100  146.1300      9186
2021-09-22 19:15:00  146.0100  146.1500  146.0100  146.1000      9001
2021-09-22 19:00:00  146.0500  146.1200  146.0000  146.1100     27544

In [10]:
def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')

data.round(2).head()

KeyError: 'Time Series (15min)'

In [11]:
data = data.astype('float')
data.round(2).head()

                     1. open  2. high  3. low  4. close  5. volume
2021-09-22 20:00:00   146.14   146.25  146.13    146.25    38702.0
2021-09-22 19:45:00   146.15   146.15  146.11    146.14     7331.0
2021-09-22 19:30:00   146.12   146.15  146.11    146.13     9186.0
2021-09-22 19:15:00   146.01   146.15  146.01    146.10     9001.0
2021-09-22 19:00:00   146.05   146.12  146.00    146.11    27544.0

In [12]:
def getIntra(symbol, interval, size):
    function='TIME_SERIES_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getIntra(symbol='AAPL', interval='15min', size='compact')
data.round(2).head()

KeyError: 'Time Series (15min)'

In [ ]:
def getDaily(symbol, size):
    function = 'TIME_SERIES_DAILY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDaily(symbol='AAPL', size='compact')
data.head()

In [13]:
def getDailyAdj(symbol, size):
    function = 'TIME_SERIES_DAILY_ADJUSTED'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume', 'Div', 'Split']
    dataDF = dataDF.sort_values('Date', ascending=True).round(2)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDailyAdj(symbol='AAPL', size='compact')
data.head()

              Open    High     Low   Close  AdjClose       Volume   Div  Split
Date
2021-05-03  132.04  134.07  131.83  132.54    132.12   75135100.0  0.00    1.0
2021-05-04  131.19  131.49  126.70  127.85    127.44  137564718.0  0.00    1.0
2021-05-05  129.20  130.45  127.97  128.10    127.69   84000900.0  0.00    1.0
2021-05-06  127.89  129.75  127.13  129.74    129.33   78128334.0  0.00    1.0
2021-05-07  130.85  131.26  129.48  130.21    130.01   78973273.0  0.22    1.0

In [14]:
data = getDailyAdj(symbol='AAPL', size='full')
data.loc[data.Split > 1]

              Open    High     Low   Close  AdjClose       Volume  Div  Split
Date
2000-06-21   50.50   56.94   50.31   55.63      0.85    4375000.0  0.0    2.0
2005-02-28   44.68   45.14   43.96   44.86      1.38   11635900.0  0.0    2.0
2014-06-09   92.70   93.88   91.75   93.70     21.04   75414997.0  0.0    7.0
2020-08-31  127.58  131.00  126.00  129.04    128.21  223505733.0  0.0    4.0

In [15]:
data = getDailyAdj(symbol='KO', size='full')
data.loc[data.Div > 0].Div.count()

88

In [16]:
def quote(symbol):
    function = 'GLOBAL_QUOTE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    return r.json()

data = quote(symbol='AAPL')
data

{'Global Quote': {'01. symbol': 'AAPL',
  '02. open': '144.4500',
  '03. high': '146.4300',
  '04. low': '143.7001',
  '05. price': '145.8500',
  '06. volume': '76404341',
  '07. latest trading day': '2021-09-22',
  '08. previous close': '143.4300',
  '09. change': '2.4200',
  '10. change percent': '1.6872%'}}

In [17]:
def quote(symbol):
    function = 'GLOBAL_QUOTE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Global Quote']
    df = pd.DataFrame.from_dict(js, orient='index')
    return df

data = quote(symbol='AAPL')
data

                                 0
01. symbol                    AAPL
02. open                  144.4500
03. high                  146.4300
04. low                   143.7001
05. price                 145.8500
06. volume                76404341
07. latest trading day  2021-09-22
08. previous close        143.4300
09. change                  2.4200
10. change percent         1.6872%

In [18]:
data = quote(symbol='MELI')
data

KeyError: 'Global Quote'

In [ ]:
data = quote(symbol='PETR3.SAO')
data

In [ ]:
def search(keywords):
    function = 'SYMBOL_SEARCH'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'keywords': keywords, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()
    
    return js

# Change the keyword    
data = search(keywords='GGAL')
data

In [21]:
def search(keywords):
    function = 'SYMBOL_SEARCH'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'keywords': keywords, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['bestMatches']
    df = pd.DataFrame(js)
    ret = df[['1. symbol', '2. name', '3. type', '4. region']]
    
    return ret
    
data = search(keywords='GGAL')
data

  1. symbol                   2. name 3. type      4. region
0      GGAL  Grupo Financiero Galicia  Equity  United States

In [20]:
def fx(fromC, toC):
    function = 'CURRENCY_EXCHANGE_RATE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_currency': fromC, 'to_currency': toC, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    return r.json()
    
data = fx('USD', 'ARS')
print(json.dumps(data, indent=3))

{
   "Note": "Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency."
}

In [19]:
def fxIntra(fromS, toS, interval):
    function = 'FX_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_symbol': fromS, 'to_symbol': toS, 'inverval': interval, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    return r.json()
    
data = fxIntra('USD', 'ARS', '5min')
print(json.dumps(data, indent=3))

{
   "Note": "Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency."
}

In [22]:
def fxIntra(fromS, toS, interval):
    function = 'FX_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_symbol': fromS, 'to_symbol': toS, 'inverval': interval, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Time Series FX ('+ interval +')']
    df = pd.DataFrame.from_dict(js, orient='index')
    df = df.astype('float')
    df.index.name = 'Date'
    df.columns = ['Open', 'High', 'Low', 'Close']
    df = df.sort_values('Date', ascending=True).round(2)
    df.index = pd.to_datetime(df.index)
    
    return df
    
data = fxIntra('USD', 'EUR', '1min')
print.head()

KeyError: 'Time Series FX (1min)'

In [24]:
def fxDaily(fromC, toC, size):
    function = 'FX_DAILY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_symbol': fromC, 'to_symbol': toC, 'inverval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Time Series FX (Daily)']
    df = pd.DataFrame.from_dict(js, orient='index')
    df = df.astype('float')
    df.index.name = 'Date'
    df.columns = ['Open', 'High', 'Low', 'Close']
    df = df.sort_values('Date', ascending=True).round(2)
    df.index = pd.to_datetime(df.index)
    
    return df
    
data = fxIntra('USD', 'ARS', 'full')
print.tail()

KeyError: 'Time Series FX (full)'

In [26]:
# NO FUNCIONA

def cryptoRank(symbol):
    function = 'CRYPTO_RATING'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    return r.json()

data = cryptoRank('BTC')
print(json.dumps(data, indent=3))

{}