In [1]:
token = 'ZWDF2CNNPSO3CAGY'

In [2]:
# Importamos las librerías

import pandas as pd
import requests
import json

# Definimos las variables (parámetros)

function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
token = 'ZWDF2CNNPSO3CAGY'

# Concateno la URL a visitar:

urlBase = 'https://www.alphavantage.co/query'
url = urlBase + '?function=' + function + '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

# Acá hago el llamado/Request
r = requests.get(url)

print(r)

<Response [200]>

In [3]:
print(r.url, '\n\n', r.cookies, '\n\n', r.status_code, '\n\n', r.headers)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=ZWDF2CNNPSO3CAGY

 <RequestsCookieJar[]>

 200

 {'Date': 'Fri, 27 Aug 2021 12:01:19 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Cookie', 'Allow': 'GET, HEAD, OPTIONS', 'X-Frame-Options': 'SAMEORIGIN', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '685524f9cb1ef7be-EZE', 'Content-Encoding': 'gzip'}

In [4]:
r.json()

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2021-08-26 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (15min)': {'2021-08-26 20:00:00': {'1. open': '147.5499',
   '2. high': '147.5800',
   '3. low': '147.5200',
   '4. close': '147.5800',
   '5. volume': '11245'},
  '2021-08-26 19:45:00': {'1. open': '147.5600',
   '2. high': '147.5600',
   '3. low': '147.5300',
   '4. close': '147.5400',
   '5. volume': '3098'},
  '2021-08-26 19:30:00': {'1. open': '147.5500',
   '2. high': '147.5600',
   '3. low': '147.5300',
   '4. close': '147.5600',
   '5. volume': '5932'},
  '2021-08-26 19:15:00': {'1. open': '147.5500',
   '2. high': '147.5500',
   '3. low': '147.5300',
   '4. close': '147.5400',
   '5. volume': '5198'},
  '2021-08-26 19:00:00': {'1. open': '147.5900',
   '2. high': '147.5900',
   '3. low': '147.5400',
   '4. close': '147.5500',
   '5. volume': '11607'},
  '2021-08-26 18:45:00': {'1. open': '147.5550',
   '2. high': '147.6200',
   '3. low': '147.5500',
   '4. close': '147.5900',
   '5. volume': '6190'},
  '2021-08-26 18:30:00': {'1. open': '147.6600',
   '2. high': '147.6600',
   '3. low': '147.5500',
   '4. close': '147.5500',
   '5. volume': '5049'},
  '2021-08-26 18:15:00': {'1. open': '147.5900',
   '2. high': '147.6500',
   '3. low': '147.5600',
   '4. close': '147.6500',
   '5. volume': '7912'},
  '2021-08-26 18:00:00': {'1. open': '147.6000',
   '2. high': '147.6200',
   '3. low': '147.6000',
   '4. close': '147.6000',
   '5. volume': '6228'},
  '2021-08-26 17:45:00': {'1. open': '147.6000',
   '2. high': '147.6499',
   '3. low': '147.5400',
   '4. close': '147.5700',
   '5. volume': '235902'},
  '2021-08-26 17:30:00': {'1. open': '147.6100',
   '2. high': '147.6200',
   '3. low': '147.5600',
   '4. close': '147.6000',
   '5. volume': '12533'},
  '2021-08-26 17:15:00': {'1. open': '147.5800',
   '2. high': '147.6100',
   '3. low': '147.5800',
   '4. close': '147.6000',
   '5. volume': '5465'},
  '2021-08-26 17:00:00': {'1. open': '147.5500',
   '2. high': '147.5900',
   '3. low': '147.5500',
   '4. close': '147.5800',
   '5. volume': '12260'},
  '2021-08-26 16:45:00': {'1. open': '147.5900',
   '2. high': '147.5900',
   '3. low': '147.5400',
   '4. close': '147.5400',
   '5. volume': '16111'},
  '2021-08-26 16:30:00': {'1. open': '147.5400',
   '2. high': '147.6000',
   '3. low': '147.5100',
   '4. close': '147.5700',
   '5. volume': '55162'},
  '2021-08-26 16:15:00': {'1. open': '147.5400',
   '2. high': '147.7200',
   '3. low': '147.5100',
   '4. close': '147.5200',
   '5. volume': '594383'},
  '2021-08-26 16:00:00': {'1. open': '147.7250',
   '2. high': '147.8900',
   '3. low': '147.5200',
   '4. close': '147.5500',
   '5. volume': '3332050'},
  '2021-08-26 15:45:00': {'1. open': '147.7250',
   '2. high': '147.9579',
   '3. low': '147.6800',
   '4. close': '147.7250',
   '5. volume': '1789225'},
  '2021-08-26 15:30:00': {'1. open': '147.6240',
   '2. high': '147.8400',
   '3. low': '147.5700',
   '4. close': '147.7200',
   '5. volume': '1400946'},
  '2021-08-26 15:15:00': {'1. open': '147.7400',
   '2. high': '147.7500',
   '3. low': '147.5100',
   '4. close': '147.6200',
   '5. volume': '1625321'},
  '2021-08-26 15:00:00': {'1. open': '147.8800',
   '2. high': '147.9800',
   '3. low': '147.7100',
   '4. close': '147.7400',
   '5. volume': '1103873'},
  '2021-08-26 14:45:00': {'1. open': '147.9800',
   '2. high': '148.0400',
   '3. low': '147.8600',
   '4. close': '147.8799',
   '5. volume': '913276'},
  '2021-08-26 14:30:00': {'1. open': '147.8350',
   '2. high': '148.0200',
   '3. low': '147.8333',
   '4. close': '147.9800',
   '5. volume': '991491'},
  '2021-08-26 14:15:00': {'1. open': '148.0900',
   '2. high': '148.0900',
   '3. low': '147.8300',
   '4. close': '147.8400',
   '5. volume': '1242753'},
  '2021-08-26 14:00:00': {'1. open': '148.2251',
   '2. high': '148.2300',
   '3. low': '148.0300',
   '4. close': '148.0850',
   '5. volume': '875354'},
  '2021-08-26 13:45:00': {'1. open': '148.0841',
   '2. high': '148.2870',
   '3. low': '148.0617',
   '4. close': '148.2200',
   '5. volume': '731657'},
  '2021-08-26 13:30:00': {'1. open': '148.3000',
   '2. high': '148.3500',
   '3. low': '147.9799',
   '4. close': '148.0900',
   '5. volume': '1123294'},
  '2021-08-26 13:15:00': {'1. open': '148.3350',
   '2. high': '148.3400',
   '3. low': '148.1631',
   '4. close': '148.3000',
   '5. volume': '817232'},
  '2021-08-26 13:00:00': {'1. open': '148.5000',
   '2. high': '148.5200',
   '3. low': '148.2200',
   '4. close': '148.3300',
   '5. volume': '922820'},
  '2021-08-26 12:45:00': {'1. open': '148.6350',
   '2. high': '148.6500',
   '3. low': '148.3681',
   '4. close': '148.4918',
   '5. volume': '1081814'},
  '2021-08-26 12:30:00': {'1. open': '148.4701',
   '2. high': '148.6500',
   '3. low': '148.4000',
   '4. close': '148.6350',
   '5. volume': '1381415'},
  '2021-08-26 12:15:00': {'1. open': '148.1350',
   '2. high': '148.5700',
   '3. low': '148.1300',
   '4. close': '148.4800',
   '5. volume': '1433519'},
  '2021-08-26 12:00:00': {'1. open': '147.9900',
   '2. high': '148.2100',
   '3. low': '147.9300',
   '4. close': '148.1400',
   '5. volume': '1093893'},
  '2021-08-26 11:45:00': {'1. open': '148.2000',
   '2. high': '148.2900',
   '3. low': '147.9450',
   '4. close': '147.9901',
   '5. volume': '1330275'},
  '2021-08-26 11:30:00': {'1. open': '148.1200',
   '2. high': '148.3500',
   '3. low': '148.0614',
   '4. close': '148.1935',
   '5. volume': '1479467'},
  '2021-08-26 11:15:00': {'1. open': '148.0200',
   '2. high': '148.2190',
   '3. low': '147.5950',
   '4. close': '148.1290',
   '5. volume': '2231977'},
  '2021-08-26 11:00:00': {'1. open': '147.9400',
   '2. high': '148.1100',
   '3. low': '147.7200',
   '4. close': '148.0300',
   '5. volume': '1968079'},
  '2021-08-26 10:45:00': {'1. open': '147.9000',
   '2. high': '148.2200',
   '3. low': '147.8000',
   '4. close': '147.9300',
   '5. volume': '2061217'},
  '2021-08-26 10:30:00': {'1. open': '148.3900',
   '2. high': '148.4700',
   '3. low': '147.7300',
   '4. close': '147.8965',
   '5. volume': '3043137'},
  '2021-08-26 10:15:00': {'1. open': '148.3000',
   '2. high': '148.7300',
   '3. low': '148.2900',
   '4. close': '148.3976',
   '5. volume': '2387492'},
  '2021-08-26 10:00:00': {'1. open': '148.9000',
   '2. high': '149.1200',
   '3. low': '148.2800',
   '4. close': '148.3100',
   '5. volume': '2971300'},
  '2021-08-26 09:45:00': {'1. open': '148.3500',
   '2. high': '149.1000',
   '3. low': '148.2000',
   '4. close': '148.8900',
   '5. volume': '4783847'},
  '2021-08-26 09:30:00': {'1. open': '148.3100',
   '2. high': '148.3500',
   '3. low': '148.2700',
   '4. close': '148.3400',
   '5. volume': '48199'},
  '2021-08-26 09:15:00': {'1. open': '148.3300',
   '2. high': '148.3800',
   '3. low': '148.2100',
   '4. close': '148.2800',
   '5. volume': '49106'},
  '2021-08-26 09:00:00': {'1. open': '148.2500',
   '2. high': '148.3300',
   '3. low': '148.2400',
   '4. close': '148.3300',
   '5. volume': '89382'},
  '2021-08-26 08:45:00': {'1. open': '148.5800',
   '2. high': '148.5900',
   '3. low': '148.1000',
   '4. close': '148.2600',
   '5. volume': '203668'},
  '2021-08-26 08:30:00': {'1. open': '148.4600',
   '2. high': '148.5800',
   '3. low': '148.4400',
   '4. close': '148.5400',
   '5. volume': '49752'},
  '2021-08-26 08:15:00': {'1. open': '148.3201',
   '2. high': '148.4500',
   '3. low': '147.9900',
   '4. close': '148.4400',
   '5. volume': '158687'},
  '2021-08-26 08:00:00': {'1. open': '148.2400',
   '2. high': '148.2800',
   '3. low': '148.1300',
   '4. close': '148.2700',
   '5. volume': '16491'},
  '2021-08-26 07:45:00': {'1. open': '148.2900',
   '2. high': '148.2900',
   '3. low': '148.2000',
   '4. close': '148.2200',
   '5. volume': '9816'},
  '2021-08-26 07:30:00': {'1. open': '148.1600',
   '2. high': '148.3500',
   '3. low': '148.1600',
   '4. close': '148.2900',
   '5. volume': '20876'},
  '2021-08-26 07:15:00': {'1. open': '148.1400',
   '2. high': '148.1600',
   '3. low': '148.1100',
   '4. close': '148.1600',
   '5. volume': '9980'},
  '2021-08-26 07:00:00': {'1. open': '148.0500',
   '2. high': '148.1000',
   '3. low': '148.0500',
   '4. close': '148.1000',
   '5. volume': '1149'},
  '2021-08-26 06:45:00': {'1. open': '148.0700',
   '2. high': '148.0700',
   '3. low': '148.0500',
   '4. close': '148.0500',
   '5. volume': '2432'},
  '2021-08-26 06:30:00': {'1. open': '148.1200',
   '2. high': '148.1500',
   '3. low': '148.0900',
   '4. close': '148.0900',
   '5. volume': '729'},
  '2021-08-26 06:15:00': {'1. open': '148.0700',
   '2. high': '148.0700',
   '3. low': '148.0700',
   '4. close': '148.0700',
   '5. volume': '205'},
  '2021-08-26 05:45:00': {'1. open': '148.0700',
   '2. high': '148.0700',
   '3. low': '148.0500',
   '4. close': '148.0500',
   '5. volume': '1299'},
  '2021-08-26 05:30:00': {'1. open': '148.0800',
   '2. high': '148.0800',
   '3. low': '148.0700',
   '4. close': '148.0700',
   '5. volume': '1004'},
  '2021-08-26 05:15:00': {'1. open': '148.0400',
   '2. high': '148.0800',
   '3. low': '148.0000',
   '4. close': '148.0800',
   '5. volume': '2000'},
  '2021-08-26 05:00:00': {'1. open': '148.0800',
   '2. high': '148.1100',
   '3. low': '148.0800',
   '4. close': '148.1100',
   '5. volume': '1242'},
  '2021-08-26 04:30:00': {'1. open': '148.0000',
   '2. high': '148.1300',
   '3. low': '148.0000',
   '4. close': '148.1000',
   '5. volume': '1352'},
  '2021-08-26 04:15:00': {'1. open': '148.0000',
   '2. high': '148.1000',
   '3. low': '147.9200',
   '4. close': '147.9200',
   '5. volume': '2014'},
  '2021-08-25 20:00:00': {'1. open': '148.3101',
   '2. high': '148.3400',
   '3. low': '148.3000',
   '4. close': '148.3000',
   '5. volume': '8391'},
  '2021-08-25 19:45:00': {'1. open': '148.3200',
   '2. high': '148.3300',
   '3. low': '148.3000',
   '4. close': '148.3300',
   '5. volume': '4705'},
  '2021-08-25 19:30:00': {'1. open': '148.3400',
   '2. high': '148.3500',
   '3. low': '148.3200',
   '4. close': '148.3200',
   '5. volume': '5199'},
  '2021-08-25 19:15:00': {'1. open': '148.3400',
   '2. high': '148.3600',
   '3. low': '148.3300',
   '4. close': '148.3301',
   '5. volume': '4060'},
  '2021-08-25 19:00:00': {'1. open': '148.3150',
   '2. high': '148.3300',
   '3. low': '148.3150',
   '4. close': '148.3300',
   '5. volume': '3366'},
  '2021-08-25 18:45:00': {'1. open': '148.3100',
   '2. high': '148.3100',
   '3. low': '148.3000',
   '4. close': '148.3000',
   '5. volume': '1938'},
  '2021-08-25 18:30:00': {'1. open': '148.3500',
   '2. high': '148.3500',
   '3. low': '148.3000',
   '4. close': '148.3300',
   '5. volume': '2795'},
  '2021-08-25 18:15:00': {'1. open': '148.3400',
   '2. high': '148.3400',
   '3. low': '148.3400',
   '4. close': '148.3400',
   '5. volume': '1153'},
  '2021-08-25 18:00:00': {'1. open': '148.3300',
   '2. high': '148.3700',
   '3. low': '148.3200',
   '4. close': '148.3399',
   '5. volume': '10721'},
  '2021-08-25 17:45:00': {'1. open': '148.3400',
   '2. high': '148.3700',
   '3. low': '148.3200',
   '4. close': '148.3300',
   '5. volume': '10080'},
  '2021-08-25 17:30:00': {'1. open': '148.3500',
   '2. high': '148.3800',
   '3. low': '148.3300',
   '4. close': '148.3300',
   '5. volume': '12068'},
  '2021-08-25 17:15:00': {'1. open': '148.3600',
   '2. high': '148.3800',
   '3. low': '148.3400',
   '4. close': '148.3700',
   '5. volume': '3731'},
  '2021-08-25 17:00:00': {'1. open': '148.3600',
   '2. high': '148.3800',
   '3. low': '148.3300',
   '4. close': '148.3765',
   '5. volume': '18901'},
  '2021-08-25 16:45:00': {'1. open': '148.3300',
   '2. high': '148.4300',
   '3. low': '148.3300',
   '4. close': '148.3700',
   '5. volume': '19091'},
  '2021-08-25 16:30:00': {'1. open': '148.3600',
   '2. high': '148.3600',
   '3. low': '148.3100',
   '4. close': '148.3400',
   '5. volume': '13232'},
  '2021-08-25 16:15:00': {'1. open': '148.3600',
   '2. high': '148.4500',
   '3. low': '148.3000',
   '4. close': '148.3400',
   '5. volume': '1170373'},
  '2021-08-25 16:00:00': {'1. open': '148.6446',
   '2. high': '148.7500',
   '3. low': '148.3400',
   '4. close': '148.3700',
   '5. volume': '3348966'},
  '2021-08-25 15:45:00': {'1. open': '148.3701',
   '2. high': '148.6700',
   '3. low': '148.3701',
   '4. close': '148.6400',
   '5. volume': '1967754'},
  '2021-08-25 15:30:00': {'1. open': '148.2901',
   '2. high': '148.4300',
   '3. low': '148.2600',
   '4. close': '148.3700',
   '5. volume': '1358401'},
  '2021-08-25 15:15:00': {'1. open': '148.2600',
   '2. high': '148.3900',
   '3. low': '148.2150',
   '4. close': '148.2950',
   '5. volume': '1386261'},
  '2021-08-25 15:00:00': {'1. open': '148.2000',
   '2. high': '148.3700',
   '3. low': '148.1500',
   '4. close': '148.2700',
   '5. volume': '1755126'},
  '2021-08-25 14:45:00': {'1. open': '148.0300',
   '2. high': '148.2200',
   '3. low': '148.0000',
   '4. close': '148.2000',
   '5. volume': '1497829'},
  '2021-08-25 14:30:00': {'1. open': '147.9950',
   '2. high': '148.0400',
   '3. low': '147.8200',
   '4. close': '148.0300',
   '5. volume': '1275011'},
  '2021-08-25 14:15:00': {'1. open': '147.8550',
   '2. high': '148.0899',
   '3. low': '147.8200',
   '4. close': '147.9950',
   '5. volume': '1639607'},
  '2021-08-25 14:00:00': {'1. open': '147.9700',
   '2. high': '148.0000',
   '3. low': '147.8200',
   '4. close': '147.8600',
   '5. volume': '1045856'},
  '2021-08-25 13:45:00': {'1. open': '148.0350',
   '2. high': '148.1000',
   '3. low': '147.8000',
   '4. close': '147.9684',
   '5. volume': '2024693'},
  '2021-08-25 13:30:00': {'1. open': '148.2150',
   '2. high': '148.2700',
   '3. low': '148.0100',
   '4. close': '148.0300',
   '5. volume': '1413312'},
  '2021-08-25 13:15:00': {'1. open': '148.3400',
   '2. high': '148.3750',
   '3. low': '148.0800',
   '4. close': '148.2172',
   '5. volume': '1254038'},
  '2021-08-25 13:00:00': {'1. open': '148.3750',
   '2. high': '148.3900',
   '3. low': '148.1600',
   '4. close': '148.3401',
   '5. volume': '1097768'},
  '2021-08-25 12:45:00': {'1. open': '148.2370',
   '2. high': '148.4400',
   '3. low': '148.2100',
   '4. close': '148.3750',
   '5. volume': '1316956'},
  '2021-08-25 12:30:00': {'1. open': '148.1100',
   '2. high': '148.2500',
   '3. low': '148.0600',
   '4. close': '148.2397',
   '5. volume': '1330550'},
  '2021-08-25 12:15:00': {'1. open': '148.2501',
   '2. high': '148.3300',
   '3. low': '148.0800',
   '4. close': '148.1200',
   '5. volume': '1629327'},
  '2021-08-25 12:00:00': {'1. open': '148.3450',
   '2. high': '148.3900',
   '3. low': '148.2100',
   '4. close': '148.2500',
   '5. volume': '1166320'},
  '2021-08-25 11:45:00': {'1. open': '148.5000',
   '2. high': '148.5480',
   '3. low': '148.1700',
   '4. close': '148.3410',
   '5. volume': '1613476'},
  '2021-08-25 11:30:00': {'1. open': '148.5901',
   '2. high': '148.7150',
   '3. low': '148.3300',
   '4. close': '148.5050',
   '5. volume': '1691309'},
  '2021-08-25 11:15:00': {'1. open': '148.4000',
   '2. high': '148.6550',
   '3. low': '148.3900',
   '4. close': '148.5900',
   '5. volume': '1874425'},
  '2021-08-25 11:00:00': {'1. open': '148.2852',
   '2. high': '148.6563',
   '3. low': '148.1200',
   '4. close': '148.4000',
   '5. volume': '3173903'},
  '2021-08-25 10:45:00': {'1. open': '148.6250',
   '2. high': '148.7350',
   '3. low': '148.1650',
   '4. close': '148.2852',
   '5. volume': '3170679'}}}

In [5]:
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-26 20:00:00  147.5499  147.5800  147.5200  147.5800     11245
2021-08-26 19:45:00  147.5600  147.5600  147.5300  147.5400      3098
2021-08-26 19:30:00  147.5500  147.5600  147.5300  147.5600      5932
2021-08-26 19:15:00  147.5500  147.5500  147.5300  147.5400      5198
2021-08-26 19:00:00  147.5900  147.5900  147.5400  147.5500     11607

In [6]:
function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
size = 'compact'
token = 'ZWDF2CNNPSO3CAGY'

url = 'https://www.alphavantage.co/query'
parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

r = requests.get(url, params=parametros)
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-26 20:00:00  147.5499  147.5800  147.5200  147.5800     11245
2021-08-26 19:45:00  147.5600  147.5600  147.5300  147.5400      3098
2021-08-26 19:30:00  147.5500  147.5600  147.5300  147.5600      5932
2021-08-26 19:15:00  147.5500  147.5500  147.5300  147.5400      5198
2021-08-26 19:00:00  147.5900  147.5900  147.5400  147.5500     11607

In [7]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    data = r.json()['Time Series (15min)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-26 20:00:00  147.5499  147.5800  147.5200  147.5800     11245
2021-08-26 19:45:00  147.5600  147.5600  147.5300  147.5400      3098
2021-08-26 19:30:00  147.5500  147.5600  147.5300  147.5600      5932
2021-08-26 19:15:00  147.5500  147.5500  147.5300  147.5400      5198
2021-08-26 19:00:00  147.5900  147.5900  147.5400  147.5500     11607

In [8]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (15min)'

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    
    # En esta línea arreglo ese tema
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [ ]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [10]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

<Response [200]>

In [11]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r.text)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

{
    "Error Message": "Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_INTRADAY."
}

In [12]:
TOKEN = 'ZWDF2CNNPSO3CAGY'

def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-26 20:00:00  147.5499  147.5800  147.5200  147.5800     11245
2021-08-26 19:45:00  147.5600  147.5600  147.5300  147.5400      3098
2021-08-26 19:30:00  147.5500  147.5600  147.5300  147.5600      5932
2021-08-26 19:15:00  147.5500  147.5500  147.5300  147.5400      5198
2021-08-26 19:00:00  147.5900  147.5900  147.5400  147.5500     11607

In [13]:
def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')

data.round(2).head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-26 20:00:00  147.5499  147.5800  147.5200  147.5800     11245
2021-08-26 19:45:00  147.5600  147.5600  147.5300  147.5400      3098
2021-08-26 19:30:00  147.5500  147.5600  147.5300  147.5600      5932
2021-08-26 19:15:00  147.5500  147.5500  147.5300  147.5400      5198
2021-08-26 19:00:00  147.5900  147.5900  147.5400  147.5500     11607

In [14]:
data = data.astype('float')
data.round(2).head()

                     1. open  2. high  3. low  4. close  5. volume
2021-08-26 20:00:00   147.55   147.58  147.52    147.58    11245.0
2021-08-26 19:45:00   147.56   147.56  147.53    147.54     3098.0
2021-08-26 19:30:00   147.55   147.56  147.53    147.56     5932.0
2021-08-26 19:15:00   147.55   147.55  147.53    147.54     5198.0
2021-08-26 19:00:00   147.59   147.59  147.54    147.55    11607.0

In [17]:
def getIntra(symbol, interval, size):
    function='TIME_SERIES_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getIntra(symbol='AAPL', interval='15min', size='compact')
data.round(2).head()

                       Open    High     Low   Close     Volume
Date
2021-08-25 10:45:00  148.62  148.74  148.16  148.29  3170679.0
2021-08-25 11:00:00  148.29  148.66  148.12  148.40  3173903.0
2021-08-25 11:15:00  148.40  148.66  148.39  148.59  1874425.0
2021-08-25 11:30:00  148.59  148.72  148.33  148.50  1691309.0
2021-08-25 11:45:00  148.50  148.55  148.17  148.34  1613476.0