In [24]:
token = 'ZWDF2CNNPSO3CAGY'

In [25]:
# Importamos las librerías

import pandas as pd
import requests
import json

# Definimos las variables (parámetros)

function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
token = 'ZWDF2CNNPSO3CAGY'

# Concateno la URL a visitar:

urlBase = 'https://www.alphavantage.co/query'
url = urlBase + '?function=' + function + '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

# Acá hago el llamado/Request
r = requests.get(url)

print(r)

<Response [200]>

In [26]:
print(r.url, '\n\n', r.cookies, '\n\n', r.status_code, '\n\n', r.headers)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=ZWDF2CNNPSO3CAGY

 <RequestsCookieJar[]>

 200

 {'Date': 'Fri, 24 Sep 2021 13:39:36 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Cookie', 'Allow': 'GET, HEAD, OPTIONS', 'X-Frame-Options': 'SAMEORIGIN', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '693c6b765859f7f2-EZE', 'Content-Encoding': 'gzip'}

In [27]:
r.json()

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2021-09-23 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (15min)': {'2021-09-23 20:00:00': {'1. open': '146.8700',
   '2. high': '146.9000',
   '3. low': '146.8300',
   '4. close': '146.9000',
   '5. volume': '33978'},
  '2021-09-23 19:45:00': {'1. open': '146.8900',
   '2. high': '146.9000',
   '3. low': '146.8500',
   '4. close': '146.8900',
   '5. volume': '14500'},
  '2021-09-23 19:30:00': {'1. open': '146.8700',
   '2. high': '146.9000',
   '3. low': '146.8500',
   '4. close': '146.8900',
   '5. volume': '11285'},
  '2021-09-23 19:15:00': {'1. open': '146.8200',
   '2. high': '146.8800',
   '3. low': '146.8200',
   '4. close': '146.8800',
   '5. volume': '6854'},
  '2021-09-23 19:00:00': {'1. open': '146.8400',
   '2. high': '146.8500',
   '3. low': '146.7800',
   '4. close': '146.8400',
   '5. volume': '4000'},
  '2021-09-23 18:45:00': {'1. open': '146.8000',
   '2. high': '146.8200',
   '3. low': '146.7800',
   '4. close': '146.7900',
   '5. volume': '2397'},
  '2021-09-23 18:30:00': {'1. open': '146.7900',
   '2. high': '146.8200',
   '3. low': '146.7700',
   '4. close': '146.7700',
   '5. volume': '10840'},
  '2021-09-23 18:15:00': {'1. open': '146.8000',
   '2. high': '146.8400',
   '3. low': '146.7700',
   '4. close': '146.8200',
   '5. volume': '15278'},
  '2021-09-23 18:00:00': {'1. open': '146.8200',
   '2. high': '146.8300',
   '3. low': '146.7800',
   '4. close': '146.8200',
   '5. volume': '7315'},
  '2021-09-23 17:45:00': {'1. open': '146.8400',
   '2. high': '146.8500',
   '3. low': '146.7800',
   '4. close': '146.7800',
   '5. volume': '7060'},
  '2021-09-23 17:30:00': {'1. open': '146.8000',
   '2. high': '146.8800',
   '3. low': '146.7900',
   '4. close': '146.8483',
   '5. volume': '11091'},
  '2021-09-23 17:15:00': {'1. open': '146.7300',
   '2. high': '148.6300',
   '3. low': '146.7000',
   '4. close': '146.7700',
   '5. volume': '49588'},
  '2021-09-23 17:00:00': {'1. open': '146.7400',
   '2. high': '146.7500',
   '3. low': '146.6300',
   '4. close': '146.7400',
   '5. volume': '15224'},
  '2021-09-23 16:45:00': {'1. open': '146.7800',
   '2. high': '146.8300',
   '3. low': '146.7000',
   '4. close': '146.7600',
   '5. volume': '132651'},
  '2021-09-23 16:30:00': {'1. open': '146.8000',
   '2. high': '146.8500',
   '3. low': '146.7500',
   '4. close': '146.7500',
   '5. volume': '35772'},
  '2021-09-23 16:15:00': {'1. open': '146.8300',
   '2. high': '146.9200',
   '3. low': '146.7000',
   '4. close': '146.8300',
   '5. volume': '1229492'},
  '2021-09-23 16:00:00': {'1. open': '146.8950',
   '2. high': '146.9900',
   '3. low': '146.7000',
   '4. close': '146.7500',
   '5. volume': '5399487'},
  '2021-09-23 15:45:00': {'1. open': '146.8100',
   '2. high': '146.9400',
   '3. low': '146.7350',
   '4. close': '146.8950',
   '5. volume': '2056235'},
  '2021-09-23 15:30:00': {'1. open': '146.7500',
   '2. high': '146.9100',
   '3. low': '146.7100',
   '4. close': '146.8050',
   '5. volume': '1382879'},
  '2021-09-23 15:15:00': {'1. open': '146.9529',
   '2. high': '146.9800',
   '3. low': '146.7100',
   '4. close': '146.7413',
   '5. volume': '1216622'},
  '2021-09-23 15:00:00': {'1. open': '146.7400',
   '2. high': '146.9800',
   '3. low': '146.7300',
   '4. close': '146.9500',
   '5. volume': '1206144'},
  '2021-09-23 14:45:00': {'1. open': '146.7795',
   '2. high': '146.9300',
   '3. low': '146.6950',
   '4. close': '146.7432',
   '5. volume': '1488144'},
  '2021-09-23 14:30:00': {'1. open': '146.8600',
   '2. high': '146.8932',
   '3. low': '146.7100',
   '4. close': '146.7710',
   '5. volume': '972179'},
  '2021-09-23 14:15:00': {'1. open': '147.0189',
   '2. high': '147.0271',
   '3. low': '146.8100',
   '4. close': '146.8550',
   '5. volume': '1220033'},
  '2021-09-23 14:00:00': {'1. open': '146.9400',
   '2. high': '147.0400',
   '3. low': '146.8800',
   '4. close': '147.0200',
   '5. volume': '1226131'},
  '2021-09-23 13:45:00': {'1. open': '146.9199',
   '2. high': '146.9600',
   '3. low': '146.8100',
   '4. close': '146.9250',
   '5. volume': '1145409'},
  '2021-09-23 13:30:00': {'1. open': '146.6500',
   '2. high': '146.9200',
   '3. low': '146.6300',
   '4. close': '146.9112',
   '5. volume': '1487363'},
  '2021-09-23 13:15:00': {'1. open': '146.5900',
   '2. high': '146.8250',
   '3. low': '146.5400',
   '4. close': '146.6500',
   '5. volume': '1532340'},
  '2021-09-23 13:00:00': {'1. open': '146.6599',
   '2. high': '146.7800',
   '3. low': '146.5850',
   '4. close': '146.5900',
   '5. volume': '1472310'},
  '2021-09-23 12:45:00': {'1. open': '146.5900',
   '2. high': '146.7700',
   '3. low': '146.5800',
   '4. close': '146.6570',
   '5. volume': '1550060'},
  '2021-09-23 12:30:00': {'1. open': '146.5600',
   '2. high': '146.7099',
   '3. low': '146.5100',
   '4. close': '146.5950',
   '5. volume': '1571040'},
  '2021-09-23 12:15:00': {'1. open': '146.9100',
   '2. high': '146.9400',
   '3. low': '146.5100',
   '4. close': '146.5599',
   '5. volume': '1842102'},
  '2021-09-23 12:00:00': {'1. open': '146.5600',
   '2. high': '146.9500',
   '3. low': '146.5200',
   '4. close': '146.9199',
   '5. volume': '2116741'},
  '2021-09-23 11:45:00': {'1. open': '146.6400',
   '2. high': '146.8850',
   '3. low': '146.5500',
   '4. close': '146.5600',
   '5. volume': '1784299'},
  '2021-09-23 11:30:00': {'1. open': '146.7800',
   '2. high': '146.8500',
   '3. low': '146.3600',
   '4. close': '146.6400',
   '5. volume': '2110714'},
  '2021-09-23 11:15:00': {'1. open': '146.9550',
   '2. high': '146.9850',
   '3. low': '146.5700',
   '4. close': '146.7750',
   '5. volume': '2062831'},
  '2021-09-23 11:00:00': {'1. open': '146.6300',
   '2. high': '147.0800',
   '3. low': '146.6100',
   '4. close': '146.9400',
   '5. volume': '2609453'},
  '2021-09-23 10:45:00': {'1. open': '146.7700',
   '2. high': '146.8300',
   '3. low': '146.5600',
   '4. close': '146.6230',
   '5. volume': '1973177'},
  '2021-09-23 10:30:00': {'1. open': '146.8100',
   '2. high': '146.9800',
   '3. low': '146.6500',
   '4. close': '146.7741',
   '5. volume': '2624528'},
  '2021-09-23 10:15:00': {'1. open': '146.2750',
   '2. high': '146.8800',
   '3. low': '146.2201',
   '4. close': '146.8150',
   '5. volume': '3557590'},
  '2021-09-23 10:00:00': {'1. open': '146.3700',
   '2. high': '146.6500',
   '3. low': '146.1900',
   '4. close': '146.2650',
   '5. volume': '4057963'},
  '2021-09-23 09:45:00': {'1. open': '146.6500',
   '2. high': '146.7500',
   '3. low': '145.6400',
   '4. close': '146.3700',
   '5. volume': '7414908'},
  '2021-09-23 09:30:00': {'1. open': '146.6700',
   '2. high': '146.8500',
   '3. low': '146.5100',
   '4. close': '146.5400',
   '5. volume': '163055'},
  '2021-09-23 09:15:00': {'1. open': '146.7600',
   '2. high': '146.8400',
   '3. low': '146.5100',
   '4. close': '146.6800',
   '5. volume': '243516'},
  '2021-09-23 09:00:00': {'1. open': '147.1100',
   '2. high': '147.1300',
   '3. low': '146.6300',
   '4. close': '146.7700',
   '5. volume': '224871'},
  '2021-09-23 08:45:00': {'1. open': '147.1200',
   '2. high': '147.2600',
   '3. low': '147.0800',
   '4. close': '147.1100',
   '5. volume': '109724'},
  '2021-09-23 08:30:00': {'1. open': '147.1100',
   '2. high': '147.2700',
   '3. low': '147.1000',
   '4. close': '147.1400',
   '5. volume': '109890'},
  '2021-09-23 08:15:00': {'1. open': '147.0299',
   '2. high': '147.5300',
   '3. low': '147.0000',
   '4. close': '147.1100',
   '5. volume': '265030'},
  '2021-09-23 08:00:00': {'1. open': '147.3500',
   '2. high': '147.3700',
   '3. low': '147.2000',
   '4. close': '147.2700',
   '5. volume': '77540'},
  '2021-09-23 07:45:00': {'1. open': '147.2500',
   '2. high': '147.5400',
   '3. low': '147.2500',
   '4. close': '147.3600',
   '5. volume': '97991'},
  '2021-09-23 07:30:00': {'1. open': '147.1100',
   '2. high': '147.3600',
   '3. low': '147.0800',
   '4. close': '147.2500',
   '5. volume': '47538'},
  '2021-09-23 07:15:00': {'1. open': '147.2000',
   '2. high': '147.2700',
   '3. low': '147.0000',
   '4. close': '147.1100',
   '5. volume': '60577'},
  '2021-09-23 07:00:00': {'1. open': '147.0700',
   '2. high': '147.2000',
   '3. low': '146.9300',
   '4. close': '147.2000',
   '5. volume': '23747'},
  '2021-09-23 06:45:00': {'1. open': '147.2100',
   '2. high': '147.2400',
   '3. low': '147.0700',
   '4. close': '147.0700',
   '5. volume': '7976'},
  '2021-09-23 06:30:00': {'1. open': '147.2500',
   '2. high': '147.3000',
   '3. low': '146.9200',
   '4. close': '147.2500',
   '5. volume': '39533'},
  '2021-09-23 06:15:00': {'1. open': '147.5400',
   '2. high': '147.5800',
   '3. low': '147.0100',
   '4. close': '147.0100',
   '5. volume': '26800'},
  '2021-09-23 06:00:00': {'1. open': '147.4300',
   '2. high': '147.5500',
   '3. low': '147.4000',
   '4. close': '147.5500',
   '5. volume': '17796'},
  '2021-09-23 05:45:00': {'1. open': '147.5000',
   '2. high': '147.5700',
   '3. low': '147.3300',
   '4. close': '147.4100',
   '5. volume': '15144'},
  '2021-09-23 05:30:00': {'1. open': '147.5900',
   '2. high': '147.6800',
   '3. low': '147.4000',
   '4. close': '147.4400',
   '5. volume': '12888'},
  '2021-09-23 05:15:00': {'1. open': '147.2100',
   '2. high': '147.4200',
   '3. low': '147.1200',
   '4. close': '147.3800',
   '5. volume': '15361'},
  '2021-09-23 05:00:00': {'1. open': '147.0600',
   '2. high': '147.2500',
   '3. low': '147.0600',
   '4. close': '147.2100',
   '5. volume': '3532'},
  '2021-09-23 04:45:00': {'1. open': '146.9700',
   '2. high': '147.0900',
   '3. low': '146.9700',
   '4. close': '147.0600',
   '5. volume': '9326'},
  '2021-09-23 04:30:00': {'1. open': '146.9200',
   '2. high': '147.0000',
   '3. low': '146.9100',
   '4. close': '146.9700',
   '5. volume': '10596'},
  '2021-09-23 04:15:00': {'1. open': '146.7100',
   '2. high': '147.1000',
   '3. low': '146.7100',
   '4. close': '146.9400',
   '5. volume': '24021'},
  '2021-09-22 20:00:00': {'1. open': '146.1400',
   '2. high': '146.2500',
   '3. low': '146.1300',
   '4. close': '146.2500',
   '5. volume': '38702'},
  '2021-09-22 19:45:00': {'1. open': '146.1500',
   '2. high': '146.1500',
   '3. low': '146.1100',
   '4. close': '146.1400',
   '5. volume': '7331'},
  '2021-09-22 19:30:00': {'1. open': '146.1200',
   '2. high': '146.1500',
   '3. low': '146.1100',
   '4. close': '146.1300',
   '5. volume': '9186'},
  '2021-09-22 19:15:00': {'1. open': '146.0100',
   '2. high': '146.1500',
   '3. low': '146.0100',
   '4. close': '146.1000',
   '5. volume': '9001'},
  '2021-09-22 19:00:00': {'1. open': '146.0500',
   '2. high': '146.1200',
   '3. low': '146.0000',
   '4. close': '146.1100',
   '5. volume': '27544'},
  '2021-09-22 18:45:00': {'1. open': '146.0400',
   '2. high': '146.0700',
   '3. low': '146.0200',
   '4. close': '146.0500',
   '5. volume': '8115'},
  '2021-09-22 18:30:00': {'1. open': '146.0100',
   '2. high': '146.1000',
   '3. low': '145.9500',
   '4. close': '146.0900',
   '5. volume': '33969'},
  '2021-09-22 18:15:00': {'1. open': '145.9800',
   '2. high': '146.0400',
   '3. low': '145.9800',
   '4. close': '146.0200',
   '5. volume': '13562'},
  '2021-09-22 18:00:00': {'1. open': '145.9600',
   '2. high': '146.0000',
   '3. low': '145.9200',
   '4. close': '145.9800',
   '5. volume': '7090'},
  '2021-09-22 17:45:00': {'1. open': '145.9099',
   '2. high': '145.9200',
   '3. low': '145.9099',
   '4. close': '145.9200',
   '5. volume': '4440'},
  '2021-09-22 17:30:00': {'1. open': '145.8700',
   '2. high': '145.9200',
   '3. low': '145.8500',
   '4. close': '145.8700',
   '5. volume': '54392'},
  '2021-09-22 17:15:00': {'1. open': '145.9000',
   '2. high': '145.9100',
   '3. low': '145.8600',
   '4. close': '145.8600',
   '5. volume': '4990'},
  '2021-09-22 17:00:00': {'1. open': '145.9000',
   '2. high': '145.9200',
   '3. low': '145.8500',
   '4. close': '145.8900',
   '5. volume': '110207'},
  '2021-09-22 16:45:00': {'1. open': '145.9600',
   '2. high': '145.9600',
   '3. low': '145.8500',
   '4. close': '145.8720',
   '5. volume': '16791'},
  '2021-09-22 16:30:00': {'1. open': '145.9900',
   '2. high': '146.0000',
   '3. low': '145.8500',
   '4. close': '145.9700',
   '5. volume': '54285'},
  '2021-09-22 16:15:00': {'1. open': '145.8500',
   '2. high': '146.0300',
   '3. low': '145.8201',
   '4. close': '146.0000',
   '5. volume': '1737760'},
  '2021-09-22 16:00:00': {'1. open': '145.8700',
   '2. high': '146.2500',
   '3. low': '145.7000',
   '4. close': '145.8300',
   '5. volume': '5639970'},
  '2021-09-22 15:45:00': {'1. open': '146.1700',
   '2. high': '146.2300',
   '3. low': '145.7800',
   '4. close': '145.8700',
   '5. volume': '3085406'},
  '2021-09-22 15:30:00': {'1. open': '145.8500',
   '2. high': '146.4300',
   '3. low': '145.7650',
   '4. close': '146.1700',
   '5. volume': '3324367'},
  '2021-09-22 15:15:00': {'1. open': '145.4100',
   '2. high': '145.9208',
   '3. low': '145.2200',
   '4. close': '145.8550',
   '5. volume': '2866516'},
  '2021-09-22 15:00:00': {'1. open': '145.6800',
   '2. high': '145.7400',
   '3. low': '145.0600',
   '4. close': '145.4100',
   '5. volume': '3225073'},
  '2021-09-22 14:45:00': {'1. open': '146.0800',
   '2. high': '146.1599',
   '3. low': '145.4499',
   '4. close': '145.6700',
   '5. volume': '3309907'},
  '2021-09-22 14:30:00': {'1. open': '146.0900',
   '2. high': '146.4294',
   '3. low': '145.8300',
   '4. close': '146.0850',
   '5. volume': '3753948'},
  '2021-09-22 14:15:00': {'1. open': '145.0000',
   '2. high': '146.1800',
   '3. low': '144.7500',
   '4. close': '146.0925',
   '5. volume': '4506271'},
  '2021-09-22 14:00:00': {'1. open': '145.1800',
   '2. high': '145.3100',
   '3. low': '145.0300',
   '4. close': '145.3000',
   '5. volume': '1093544'},
  '2021-09-22 13:45:00': {'1. open': '145.2700',
   '2. high': '145.3900',
   '3. low': '145.1400',
   '4. close': '145.1850',
   '5. volume': '1234615'},
  '2021-09-22 13:30:00': {'1. open': '145.1668',
   '2. high': '145.3200',
   '3. low': '145.0400',
   '4. close': '145.2750',
   '5. volume': '1237523'},
  '2021-09-22 13:15:00': {'1. open': '145.2301',
   '2. high': '145.2571',
   '3. low': '145.0700',
   '4. close': '145.1650',
   '5. volume': '1289395'},
  '2021-09-22 13:00:00': {'1. open': '145.2900',
   '2. high': '145.3867',
   '3. low': '145.1900',
   '4. close': '145.2341',
   '5. volume': '1230421'},
  '2021-09-22 12:45:00': {'1. open': '145.5084',
   '2. high': '145.6950',
   '3. low': '145.2800',
   '4. close': '145.2950',
   '5. volume': '1408860'},
  '2021-09-22 12:30:00': {'1. open': '145.5000',
   '2. high': '145.6400',
   '3. low': '145.2233',
   '4. close': '145.5000',
   '5. volume': '1122187'},
  '2021-09-22 12:15:00': {'1. open': '145.5200',
   '2. high': '145.6200',
   '3. low': '145.3700',
   '4. close': '145.5056',
   '5. volume': '1180151'},
  '2021-09-22 12:00:00': {'1. open': '145.4717',
   '2. high': '145.8900',
   '3. low': '145.3000',
   '4. close': '145.5300',
   '5. volume': '2650430'},
  '2021-09-22 11:45:00': {'1. open': '145.0800',
   '2. high': '145.5000',
   '3. low': '145.0800',
   '4. close': '145.4800',
   '5. volume': '1918802'},
  '2021-09-22 11:30:00': {'1. open': '145.1550',
   '2. high': '145.2900',
   '3. low': '145.0200',
   '4. close': '145.0900',
   '5. volume': '1782307'},
  '2021-09-22 11:15:00': {'1. open': '144.9100',
   '2. high': '145.2200',
   '3. low': '144.9100',
   '4. close': '145.1500',
   '5. volume': '1721430'}}}

In [28]:
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-09-23 20:00:00  146.8700  146.9000  146.8300  146.9000     33978
2021-09-23 19:45:00  146.8900  146.9000  146.8500  146.8900     14500
2021-09-23 19:30:00  146.8700  146.9000  146.8500  146.8900     11285
2021-09-23 19:15:00  146.8200  146.8800  146.8200  146.8800      6854
2021-09-23 19:00:00  146.8400  146.8500  146.7800  146.8400      4000

In [29]:
function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
size = 'compact'
token = 'ZWDF2CNNPSO3CAGY'

url = 'https://www.alphavantage.co/query'
parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

r = requests.get(url, params=parametros)
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

KeyError: 'Time Series (15min)'

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    data = r.json()['Time Series (15min)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [ ]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    
    # En esta línea arreglo ese tema
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [ ]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

In [ ]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r.text)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

In [30]:
TOKEN = 'ZWDF2CNNPSO3CAGY'

def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')
data.head()

KeyError: 'Time Series (15min)'

In [ ]:
def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')

data.round(2).head()

In [ ]:
data = data.astype('float')
data.round(2).head()

In [ ]:
def getIntra(symbol, interval, size):
    function='TIME_SERIES_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getIntra(symbol='AAPL', interval='15min', size='compact')
data.round(2).head()

In [31]:
def getDaily(symbol, size):
    function = 'TIME_SERIES_DAILY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    dataDF = dataDF.sort_values('Date', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDaily(symbol='AAPL', size='compact')
data.head()

KeyError: 'Time Series (Daily)'

In [ ]:
def getDailyAdj(symbol, size):
    function = 'TIME_SERIES_DAILY_ADJUSTED'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series (Daily)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Date'
    dataDF.columns = ['Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume', 'Div', 'Split']
    dataDF = dataDF.sort_values('Date', ascending=True).round(2)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF
    
data = getDailyAdj(symbol='AAPL', size='compact')
data.head()

In [ ]:
data = getDailyAdj(symbol='AAPL', size='full')
data.loc[data.Split > 1]

In [ ]:
data = getDailyAdj(symbol='KO', size='full')
data.loc[data.Div > 0].Div.count()

In [32]:
def quote(symbol):
    function = 'GLOBAL_QUOTE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    return r.json()

data = quote(symbol='AAPL')
data

{'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}

In [33]:
def quote(symbol):
    function = 'GLOBAL_QUOTE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Global Quote']
    df = pd.DataFrame.from_dict(js, orient='index')
    return df

data = quote(symbol='AAPL')
data

KeyError: 'Global Quote'

In [ ]:
data = quote(symbol='MELI')
data

In [34]:
data = quote(symbol='PETR3.SAO')
data

KeyError: 'Global Quote'

In [ ]:
def search(keywords):
    function = 'SYMBOL_SEARCH'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'keywords': keywords, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()
    
    return js

# Change the keyword    
data = search(keywords='GGAL')
data

In [ ]:
def search(keywords):
    function = 'SYMBOL_SEARCH'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'keywords': keywords, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['bestMatches']
    df = pd.DataFrame(js)
    ret = df[['1. symbol', '2. name', '3. type', '4. region']]
    
    return ret
    
data = search(keywords='GGAL')
data

In [ ]:
def fx(fromC, toC):
    function = 'CURRENCY_EXCHANGE_RATE'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_currency': fromC, 'to_currency': toC, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    return r.json()
    
data = fx('USD', 'ARS')
print(json.dumps(data, indent=3))

In [35]:
def fxIntra(fromS, toS, interval):
    function = 'FX_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_symbol': fromS, 'to_symbol': toS, 'inverval': interval, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    return r.json()
    
data = fxIntra('USD', 'ARS', '5min')
print(json.dumps(data, indent=3))

{
   "Note": "Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency."
}

In [36]:
def fxIntra(fromS, toS, interval):
    function = 'FX_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_symbol': fromS, 'to_symbol': toS, 'inverval': interval, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Time Series FX ('+ interval +')']
    df = pd.DataFrame.from_dict(js, orient='index')
    df = df.astype('float')
    df.index.name = 'Date'
    df.columns = ['Open', 'High', 'Low', 'Close']
    df = df.sort_values('Date', ascending=True).round(2)
    df.index = pd.to_datetime(df.index)
    
    return df
    
data = fxIntra('USD', 'EUR', '1min')
print.head()

KeyError: 'Time Series FX (1min)'

In [ ]:
def fxDaily(fromC, toC, size):
    function = 'FX_DAILY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'from_symbol': fromC, 'to_symbol': toC, 'inverval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Time Series FX (Daily)']
    df = pd.DataFrame.from_dict(js, orient='index')
    df = df.astype('float')
    df.index.name = 'Date'
    df.columns = ['Open', 'High', 'Low', 'Close']
    df = df.sort_values('Date', ascending=True).round(2)
    df.index = pd.to_datetime(df.index)
    
    return df
    
data = fxIntra('USD', 'ARS', 'full')
print.tail()

In [ ]:
# NO FUNCIONA

def cryptoRank(symbol):
    function = 'CRYPTO_RATING'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    return r.json()

data = cryptoRank('BTC')
print(json.dumps(data, indent=3))

In [39]:
pd.options.display.max_rows = 4

In [40]:
def SMA(symbol, interval, series_type, time_period):
    function = 'SMA'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval,'series_type': series_type, 'time_period': time_period, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Technical Analysis: SMA']
    df = pd.DataFrame.from_dict(js, orient='index')
    df = df.astype('float')
    df.index.name = 'Date'
    df = df.sort_values('Date', ascending=True).round(2)
    df.index = pd.to_datetime(df.index)
    
    return df

data = SMA('AAPL', '5min', 'close', 50)
data

                        SMA
Date
2021-08-26 09:25:00  148.19
2021-08-26 09:30:00  148.20
...                     ...
2021-09-23 19:55:00  146.81
2021-09-23 20:00:00  146.81

[3656 rows x 1 columns]

In [46]:
def movingAv(symbol, interval, series_type, time_period, mov_type):
    function = mov_type
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval,'series_type': series_type, 'time_period': time_period, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    js = r.json()['Technical Analysis: ' + mov_type]
    df = pd.DataFrame.from_dict(js, orient='index')
    df = df.astype('float')
    df.index.name = 'Date'
    df = df.sort_values('Date', ascending=True).round(2)
    df.index = pd.to_datetime(df.index)
    
    return df

data = movingAv('AAPL', '5min', 'close', 50, 'SMA')
data

                        SMA
Date
2021-08-26 09:25:00  148.19
2021-08-26 09:30:00  148.20
...                     ...
2021-09-23 19:55:00  146.81
2021-09-23 20:00:00  146.81

[3656 rows x 1 columns]

In [48]:
data = movingAv('AAPL', 'daily', 'close', 50, 'TEMA')
data

              TEMA
Date
2000-06-01    0.69
2000-06-02    0.68
...            ...
2021-09-22  150.73
2021-09-23  150.41

[5363 rows x 1 columns]