In [3]:
token = 'ZWDF2CNNPSO3CAGY'

In [4]:
# Importamos las librerías

import pandas as pd
import requests
import json

# Definimos las variables (parámetros)

function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
token = 'ZWDF2CNNPSO3CAGY'

# Concateno la URL a visitar:

urlBase = 'https://www.alphavantage.co/query'
url = urlBase + '?function=' + function + '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

# Acá hago el llamado/Request
r = requests.get(url)

print(r)

<Response [200]>

In [5]:
print(r.url, '\n\n', r.cookies, '\n\n', r.status_code, '\n\n', r.headers)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=ZWDF2CNNPSO3CAGY

 <RequestsCookieJar[]>

 200

 {'Date': 'Wed, 25 Aug 2021 11:33:34 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Allow': 'GET, HEAD, OPTIONS', 'X-Frame-Options': 'SAMEORIGIN', 'Vary': 'Cookie', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '6844819aae54f816-EZE', 'Content-Encoding': 'gzip'}

In [6]:
r.json()

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2021-08-24 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (15min)': {'2021-08-24 20:00:00': {'1. open': '149.6400',
   '2. high': '149.6400',
   '3. low': '149.5300',
   '4. close': '149.5800',
   '5. volume': '13493'},
  '2021-08-24 19:45:00': {'1. open': '149.5700',
   '2. high': '149.6600',
   '3. low': '149.5700',
   '4. close': '149.6500',
   '5. volume': '9561'},
  '2021-08-24 19:30:00': {'1. open': '149.5700',
   '2. high': '149.5700',
   '3. low': '149.5500',
   '4. close': '149.5600',
   '5. volume': '8737'},
  '2021-08-24 19:15:00': {'1. open': '149.6000',
   '2. high': '149.6100',
   '3. low': '149.5500',
   '4. close': '149.5700',
   '5. volume': '6273'},
  '2021-08-24 19:00:00': {'1. open': '149.6200',
   '2. high': '149.6300',
   '3. low': '149.6100',
   '4. close': '149.6100',
   '5. volume': '4610'},
  '2021-08-24 18:45:00': {'1. open': '149.6500',
   '2. high': '149.6500',
   '3. low': '149.6200',
   '4. close': '149.6400',
   '5. volume': '4020'},
  '2021-08-24 18:30:00': {'1. open': '149.6500',
   '2. high': '149.6600',
   '3. low': '149.6300',
   '4. close': '149.6600',
   '5. volume': '5878'},
  '2021-08-24 18:15:00': {'1. open': '149.6400',
   '2. high': '149.6600',
   '3. low': '149.6300',
   '4. close': '149.6300',
   '5. volume': '3335'},
  '2021-08-24 18:00:00': {'1. open': '149.6600',
   '2. high': '149.6700',
   '3. low': '149.6200',
   '4. close': '149.6501',
   '5. volume': '5148'},
  '2021-08-24 17:45:00': {'1. open': '149.6400',
   '2. high': '149.6700',
   '3. low': '149.6400',
   '4. close': '149.6700',
   '5. volume': '9702'},
  '2021-08-24 17:30:00': {'1. open': '149.6100',
   '2. high': '149.6600',
   '3. low': '149.6100',
   '4. close': '149.6400',
   '5. volume': '2540'},
  '2021-08-24 17:15:00': {'1. open': '149.6400',
   '2. high': '149.6700',
   '3. low': '149.6200',
   '4. close': '149.6200',
   '5. volume': '15674'},
  '2021-08-24 17:00:00': {'1. open': '149.6200',
   '2. high': '149.6500',
   '3. low': '149.6200',
   '4. close': '149.6500',
   '5. volume': '6023'},
  '2021-08-24 16:45:00': {'1. open': '149.6300',
   '2. high': '149.6400',
   '3. low': '149.3200',
   '4. close': '149.6300',
   '5. volume': '20856'},
  '2021-08-24 16:30:00': {'1. open': '149.6200',
   '2. high': '149.6500',
   '3. low': '149.6000',
   '4. close': '149.6400',
   '5. volume': '33425'},
  '2021-08-24 16:15:00': {'1. open': '149.6200',
   '2. high': '149.6700',
   '3. low': '149.5000',
   '4. close': '149.6000',
   '5. volume': '1018107'},
  '2021-08-24 16:00:00': {'1. open': '149.6355',
   '2. high': '149.6800',
   '3. low': '149.4550',
   '4. close': '149.6300',
   '5. volume': '2784376'},
  '2021-08-24 15:45:00': {'1. open': '149.7910',
   '2. high': '149.8100',
   '3. low': '149.6100',
   '4. close': '149.6300',
   '5. volume': '1310631'},
  '2021-08-24 15:30:00': {'1. open': '149.7500',
   '2. high': '149.9050',
   '3. low': '149.7100',
   '4. close': '149.7968',
   '5. volume': '1049422'},
  '2021-08-24 15:15:00': {'1. open': '149.7500',
   '2. high': '149.8700',
   '3. low': '149.7100',
   '4. close': '149.7500',
   '5. volume': '1036776'},
  '2021-08-24 15:00:00': {'1. open': '149.6199',
   '2. high': '149.7700',
   '3. low': '149.5700',
   '4. close': '149.7400',
   '5. volume': '853753'},
  '2021-08-24 14:45:00': {'1. open': '149.5200',
   '2. high': '149.6800',
   '3. low': '149.5000',
   '4. close': '149.6100',
   '5. volume': '895071'},
  '2021-08-24 14:30:00': {'1. open': '149.5672',
   '2. high': '149.6500',
   '3. low': '149.5001',
   '4. close': '149.5290',
   '5. volume': '802373'},
  '2021-08-24 14:15:00': {'1. open': '149.6500',
   '2. high': '149.6700',
   '3. low': '149.5400',
   '4. close': '149.5637',
   '5. volume': '809728'},
  '2021-08-24 14:00:00': {'1. open': '149.6100',
   '2. high': '149.8100',
   '3. low': '149.5700',
   '4. close': '149.6449',
   '5. volume': '850987'},
  '2021-08-24 13:45:00': {'1. open': '149.6186',
   '2. high': '149.6574',
   '3. low': '149.5200',
   '4. close': '149.6100',
   '5. volume': '837004'},
  '2021-08-24 13:30:00': {'1. open': '149.5450',
   '2. high': '149.6500',
   '3. low': '149.4800',
   '4. close': '149.6158',
   '5. volume': '982672'},
  '2021-08-24 13:15:00': {'1. open': '149.5505',
   '2. high': '149.7400',
   '3. low': '149.5200',
   '4. close': '149.5495',
   '5. volume': '937097'},
  '2021-08-24 13:00:00': {'1. open': '149.6200',
   '2. high': '149.6900',
   '3. low': '149.5200',
   '4. close': '149.5600',
   '5. volume': '802228'},
  '2021-08-24 12:45:00': {'1. open': '149.6900',
   '2. high': '149.7100',
   '3. low': '149.5500',
   '4. close': '149.6170',
   '5. volume': '996167'},
  '2021-08-24 12:30:00': {'1. open': '149.8500',
   '2. high': '149.8556',
   '3. low': '149.6400',
   '4. close': '149.6950',
   '5. volume': '894181'},
  '2021-08-24 12:15:00': {'1. open': '149.8300',
   '2. high': '149.9299',
   '3. low': '149.5600',
   '4. close': '149.8450',
   '5. volume': '1446200'},
  '2021-08-24 12:00:00': {'1. open': '149.7659',
   '2. high': '149.9500',
   '3. low': '149.5699',
   '4. close': '149.8300',
   '5. volume': '1444784'},
  '2021-08-24 11:45:00': {'1. open': '149.4800',
   '2. high': '149.8400',
   '3. low': '149.3051',
   '4. close': '149.7650',
   '5. volume': '2419943'},
  '2021-08-24 11:30:00': {'1. open': '149.9100',
   '2. high': '149.9700',
   '3. low': '149.4450',
   '4. close': '149.4801',
   '5. volume': '2038164'},
  '2021-08-24 11:15:00': {'1. open': '149.9999',
   '2. high': '149.9999',
   '3. low': '149.7290',
   '4. close': '149.9168',
   '5. volume': '1561887'},
  '2021-08-24 11:00:00': {'1. open': '150.3016',
   '2. high': '150.3700',
   '3. low': '149.9250',
   '4. close': '149.9900',
   '5. volume': '1958576'},
  '2021-08-24 10:45:00': {'1. open': '150.4500',
   '2. high': '150.5100',
   '3. low': '150.2800',
   '4. close': '150.3100',
   '5. volume': '1674297'},
  '2021-08-24 10:30:00': {'1. open': '150.5700',
   '2. high': '150.6800',
   '3. low': '150.3701',
   '4. close': '150.4511',
   '5. volume': '2164482'},
  '2021-08-24 10:15:00': {'1. open': '150.5900',
   '2. high': '150.7300',
   '3. low': '150.1301',
   '4. close': '150.5502',
   '5. volume': '2921791'},
  '2021-08-24 10:00:00': {'1. open': '150.7350',
   '2. high': '150.8600',
   '3. low': '149.5000',
   '4. close': '150.5800',
   '5. volume': '3963224'},
  '2021-08-24 09:45:00': {'1. open': '149.4500',
   '2. high': '150.7900',
   '3. low': '149.1500',
   '4. close': '150.7377',
   '5. volume': '7151218'},
  '2021-08-24 09:30:00': {'1. open': '149.5600',
   '2. high': '149.6200',
   '3. low': '149.4400',
   '4. close': '149.4600',
   '5. volume': '82508'},
  '2021-08-24 09:15:00': {'1. open': '149.4700',
   '2. high': '149.7000',
   '3. low': '149.4600',
   '4. close': '149.5600',
   '5. volume': '69351'},
  '2021-08-24 09:00:00': {'1. open': '149.4200',
   '2. high': '149.5000',
   '3. low': '149.3800',
   '4. close': '149.4900',
   '5. volume': '47124'},
  '2021-08-24 08:45:00': {'1. open': '149.4700',
   '2. high': '149.5700',
   '3. low': '149.4000',
   '4. close': '149.4200',
   '5. volume': '66654'},
  '2021-08-24 08:30:00': {'1. open': '149.5800',
   '2. high': '149.6200',
   '3. low': '149.3500',
   '4. close': '149.5000',
   '5. volume': '70858'},
  '2021-08-24 08:15:00': {'1. open': '149.6500',
   '2. high': '149.7800',
   '3. low': '149.3360',
   '4. close': '149.5800',
   '5. volume': '80264'},
  '2021-08-24 08:00:00': {'1. open': '149.6400',
   '2. high': '149.6400',
   '3. low': '149.4100',
   '4. close': '149.5300',
   '5. volume': '48686'},
  '2021-08-24 07:45:00': {'1. open': '149.6600',
   '2. high': '149.6800',
   '3. low': '149.5700',
   '4. close': '149.6400',
   '5. volume': '25319'},
  '2021-08-24 07:30:00': {'1. open': '149.6500',
   '2. high': '149.7000',
   '3. low': '149.5500',
   '4. close': '149.6400',
   '5. volume': '34587'},
  '2021-08-24 07:15:00': {'1. open': '149.7300',
   '2. high': '149.8200',
   '3. low': '149.6500',
   '4. close': '149.6500',
   '5. volume': '30625'},
  '2021-08-24 07:00:00': {'1. open': '149.7500',
   '2. high': '149.7500',
   '3. low': '149.7000',
   '4. close': '149.7000',
   '5. volume': '3151'},
  '2021-08-24 06:45:00': {'1. open': '149.7300',
   '2. high': '149.7600',
   '3. low': '149.6300',
   '4. close': '149.7500',
   '5. volume': '6368'},
  '2021-08-24 06:30:00': {'1. open': '149.7000',
   '2. high': '149.7500',
   '3. low': '149.6200',
   '4. close': '149.7500',
   '5. volume': '2762'},
  '2021-08-24 06:15:00': {'1. open': '149.7700',
   '2. high': '149.8000',
   '3. low': '149.7100',
   '4. close': '149.7500',
   '5. volume': '4456'},
  '2021-08-24 06:00:00': {'1. open': '149.8000',
   '2. high': '149.8000',
   '3. low': '149.7000',
   '4. close': '149.7500',
   '5. volume': '3075'},
  '2021-08-24 05:45:00': {'1. open': '149.9500',
   '2. high': '149.9500',
   '3. low': '149.6900',
   '4. close': '149.7500',
   '5. volume': '9455'},
  '2021-08-24 05:30:00': {'1. open': '150.0600',
   '2. high': '150.0700',
   '3. low': '150.0100',
   '4. close': '150.0300',
   '5. volume': '2437'},
  '2021-08-24 05:15:00': {'1. open': '150.0400',
   '2. high': '150.1200',
   '3. low': '150.0000',
   '4. close': '150.1200',
   '5. volume': '10583'},
  '2021-08-24 05:00:00': {'1. open': '150.0000',
   '2. high': '150.0500',
   '3. low': '149.9600',
   '4. close': '150.0400',
   '5. volume': '4132'},
  '2021-08-24 04:45:00': {'1. open': '150.1400',
   '2. high': '150.1400',
   '3. low': '149.9800',
   '4. close': '150.0000',
   '5. volume': '18707'},
  '2021-08-24 04:30:00': {'1. open': '150.0800',
   '2. high': '150.1500',
   '3. low': '150.0800',
   '4. close': '150.1300',
   '5. volume': '5553'},
  '2021-08-24 04:15:00': {'1. open': '150.0000',
   '2. high': '150.2100',
   '3. low': '150.0000',
   '4. close': '150.0800',
   '5. volume': '20858'},
  '2021-08-23 20:00:00': {'1. open': '149.7500',
   '2. high': '149.7700',
   '3. low': '149.5000',
   '4. close': '149.7300',
   '5. volume': '33588'},
  '2021-08-23 19:45:00': {'1. open': '149.7500',
   '2. high': '149.7500',
   '3. low': '149.7200',
   '4. close': '149.7200',
   '5. volume': '3760'},
  '2021-08-23 19:30:00': {'1. open': '149.7500',
   '2. high': '149.7600',
   '3. low': '149.7100',
   '4. close': '149.7200',
   '5. volume': '15325'},
  '2021-08-23 19:15:00': {'1. open': '149.7300',
   '2. high': '149.7500',
   '3. low': '149.7300',
   '4. close': '149.7400',
   '5. volume': '9258'},
  '2021-08-23 19:00:00': {'1. open': '149.7500',
   '2. high': '149.7500',
   '3. low': '149.7100',
   '4. close': '149.7500',
   '5. volume': '6066'},
  '2021-08-23 18:45:00': {'1. open': '149.7200',
   '2. high': '149.7301',
   '3. low': '149.7200',
   '4. close': '149.7301',
   '5. volume': '3493'},
  '2021-08-23 18:30:00': {'1. open': '149.7000',
   '2. high': '149.7500',
   '3. low': '149.7000',
   '4. close': '149.7200',
   '5. volume': '14883'},
  '2021-08-23 18:15:00': {'1. open': '149.7100',
   '2. high': '149.7300',
   '3. low': '149.7000',
   '4. close': '149.7100',
   '5. volume': '12099'},
  '2021-08-23 18:00:00': {'1. open': '149.6800',
   '2. high': '149.7200',
   '3. low': '149.6800',
   '4. close': '149.7100',
   '5. volume': '9232'},
  '2021-08-23 17:45:00': {'1. open': '149.6800',
   '2. high': '149.7000',
   '3. low': '149.6700',
   '4. close': '149.6800',
   '5. volume': '10343'},
  '2021-08-23 17:30:00': {'1. open': '149.6900',
   '2. high': '149.7000',
   '3. low': '149.6600',
   '4. close': '149.6800',
   '5. volume': '7914'},
  '2021-08-23 17:15:00': {'1. open': '149.7000',
   '2. high': '149.7100',
   '3. low': '149.6600',
   '4. close': '149.7000',
   '5. volume': '49287'},
  '2021-08-23 17:00:00': {'1. open': '149.7300',
   '2. high': '149.7300',
   '3. low': '149.6600',
   '4. close': '149.6600',
   '5. volume': '20428'},
  '2021-08-23 16:45:00': {'1. open': '149.6900',
   '2. high': '149.7400',
   '3. low': '149.6700',
   '4. close': '149.7300',
   '5. volume': '850549'},
  '2021-08-23 16:30:00': {'1. open': '149.6900',
   '2. high': '149.7100',
   '3. low': '149.6500',
   '4. close': '149.6900',
   '5. volume': '320930'},
  '2021-08-23 16:15:00': {'1. open': '149.7100',
   '2. high': '149.7500',
   '3. low': '149.6000',
   '4. close': '149.6500',
   '5. volume': '2752835'},
  '2021-08-23 16:00:00': {'1. open': '149.8000',
   '2. high': '149.9250',
   '3. low': '149.5788',
   '4. close': '149.7000',
   '5. volume': '3421005'},
  '2021-08-23 15:45:00': {'1. open': '149.9600',
   '2. high': '150.0800',
   '3. low': '149.8000',
   '4. close': '149.8001',
   '5. volume': '2021813'},
  '2021-08-23 15:30:00': {'1. open': '150.0400',
   '2. high': '150.1000',
   '3. low': '149.8300',
   '4. close': '149.9650',
   '5. volume': '1291037'},
  '2021-08-23 15:15:00': {'1. open': '150.0300',
   '2. high': '150.0800',
   '3. low': '149.9400',
   '4. close': '150.0350',
   '5. volume': '1370352'},
  '2021-08-23 15:00:00': {'1. open': '150.0450',
   '2. high': '150.1900',
   '3. low': '149.9800',
   '4. close': '150.0291',
   '5. volume': '1301745'},
  '2021-08-23 14:45:00': {'1. open': '149.8844',
   '2. high': '150.0900',
   '3. low': '149.8800',
   '4. close': '150.0427',
   '5. volume': '1053388'},
  '2021-08-23 14:30:00': {'1. open': '149.9150',
   '2. high': '150.0700',
   '3. low': '149.8700',
   '4. close': '149.8900',
   '5. volume': '1064008'},
  '2021-08-23 14:15:00': {'1. open': '149.9100',
   '2. high': '149.9900',
   '3. low': '149.8600',
   '4. close': '149.9150',
   '5. volume': '1160116'},
  '2021-08-23 14:00:00': {'1. open': '149.7900',
   '2. high': '150.0100',
   '3. low': '149.7601',
   '4. close': '149.9050',
   '5. volume': '1256208'},
  '2021-08-23 13:45:00': {'1. open': '149.7000',
   '2. high': '149.8400',
   '3. low': '149.6600',
   '4. close': '149.7847',
   '5. volume': '1219884'},
  '2021-08-23 13:30:00': {'1. open': '150.0400',
   '2. high': '150.0463',
   '3. low': '149.6345',
   '4. close': '149.7088',
   '5. volume': '1589346'},
  '2021-08-23 13:15:00': {'1. open': '149.8300',
   '2. high': '150.1500',
   '3. low': '149.7900',
   '4. close': '150.0300',
   '5. volume': '2460616'},
  '2021-08-23 13:00:00': {'1. open': '149.7900',
   '2. high': '149.8400',
   '3. low': '149.5920',
   '4. close': '149.8266',
   '5. volume': '1267738'},
  '2021-08-23 12:45:00': {'1. open': '149.8126',
   '2. high': '149.9700',
   '3. low': '149.6200',
   '4. close': '149.7800',
   '5. volume': '1719457'},
  '2021-08-23 12:30:00': {'1. open': '149.8300',
   '2. high': '149.8300',
   '3. low': '149.6601',
   '4. close': '149.8140',
   '5. volume': '1325471'},
  '2021-08-23 12:15:00': {'1. open': '149.8850',
   '2. high': '149.9700',
   '3. low': '149.7600',
   '4. close': '149.8223',
   '5. volume': '1295498'},
  '2021-08-23 12:00:00': {'1. open': '149.7050',
   '2. high': '149.9400',
   '3. low': '149.7000',
   '4. close': '149.8895',
   '5. volume': '1773808'},
  '2021-08-23 11:45:00': {'1. open': '149.6450',
   '2. high': '149.9000',
   '3. low': '149.6200',
   '4. close': '149.7050',
   '5. volume': '1836604'},
  '2021-08-23 11:30:00': {'1. open': '149.6001',
   '2. high': '149.7000',
   '3. low': '149.4801',
   '4. close': '149.6500',
   '5. volume': '1327722'},
  '2021-08-23 11:15:00': {'1. open': '149.4800',
   '2. high': '149.6700',
   '3. low': '149.4110',
   '4. close': '149.6000',
   '5. volume': '1757700'}}}

In [7]:
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-24 20:00:00  149.6400  149.6400  149.5300  149.5800     13493
2021-08-24 19:45:00  149.5700  149.6600  149.5700  149.6500      9561
2021-08-24 19:30:00  149.5700  149.5700  149.5500  149.5600      8737
2021-08-24 19:15:00  149.6000  149.6100  149.5500  149.5700      6273
2021-08-24 19:00:00  149.6200  149.6300  149.6100  149.6100      4610

In [8]:
function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
size = 'compact'
token = 'ZWDF2CNNPSO3CAGY'

url = 'https://www.alphavantage.co/query'
parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

r = requests.get(url, params=parametros)
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-24 20:00:00  149.6400  149.6400  149.5300  149.5800     13493
2021-08-24 19:45:00  149.5700  149.6600  149.5700  149.6500      9561
2021-08-24 19:30:00  149.5700  149.5700  149.5500  149.5600      8737
2021-08-24 19:15:00  149.6000  149.6100  149.5500  149.5700      6273
2021-08-24 19:00:00  149.6200  149.6300  149.6100  149.6100      4610

In [9]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    data = r.json()['Time Series (15min)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-24 20:00:00  149.6400  149.6400  149.5300  149.5800     13493
2021-08-24 19:45:00  149.5700  149.6600  149.5700  149.6500      9561
2021-08-24 19:30:00  149.5700  149.5700  149.5500  149.5600      8737
2021-08-24 19:15:00  149.6000  149.6100  149.5500  149.5700      6273
2021-08-24 19:00:00  149.6200  149.6300  149.6100  149.6100      4610

In [10]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (15min)'

In [11]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    
    # En esta línea arreglo ese tema
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-24 20:00:00  149.5800  149.5800  149.5800  149.5800      1289
2021-08-24 19:59:00  149.5550  149.5550  149.5500  149.5500      1202
2021-08-24 19:58:00  149.5600  149.5800  149.5500  149.5500      1321
2021-08-24 19:57:00  149.5600  149.5600  149.5600  149.5600       800
2021-08-24 19:55:00  149.5400  149.5401  149.5300  149.5401      1563