In [3]:
token = 'ZWDF2CNNPSO3CAGY'

In [4]:
# Importamos las librerías

import pandas as pd
import requests
import json

# Definimos las variables (parámetros)

function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
token = 'ZWDF2CNNPSO3CAGY'

# Concateno la URL a visitar:

urlBase = 'https://www.alphavantage.co/query'
url = urlBase + '?function=' + function + '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

# Acá hago el llamado/Request
r = requests.get(url)

print(r)

<Response [200]>

In [5]:
print(r.url, '\n\n', r.cookies, '\n\n', r.status_code, '\n\n', r.headers)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=ZWDF2CNNPSO3CAGY

 <RequestsCookieJar[]>

 200

 {'Date': 'Thu, 26 Aug 2021 12:55:33 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'X-Frame-Options': 'SAMEORIGIN', 'Vary': 'Cookie', 'Allow': 'GET, HEAD, OPTIONS', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '684d37103fdad2d0-EZE', 'Content-Encoding': 'gzip'}

In [6]:
r.json()

{'Meta Data': {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2021-08-25 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (15min)': {'2021-08-25 20:00:00': {'1. open': '148.3101',
   '2. high': '148.3400',
   '3. low': '148.3000',
   '4. close': '148.3000',
   '5. volume': '8391'},
  '2021-08-25 19:45:00': {'1. open': '148.3200',
   '2. high': '148.3300',
   '3. low': '148.3000',
   '4. close': '148.3300',
   '5. volume': '4705'},
  '2021-08-25 19:30:00': {'1. open': '148.3400',
   '2. high': '148.3500',
   '3. low': '148.3200',
   '4. close': '148.3200',
   '5. volume': '5199'},
  '2021-08-25 19:15:00': {'1. open': '148.3400',
   '2. high': '148.3600',
   '3. low': '148.3300',
   '4. close': '148.3301',
   '5. volume': '4060'},
  '2021-08-25 19:00:00': {'1. open': '148.3150',
   '2. high': '148.3300',
   '3. low': '148.3150',
   '4. close': '148.3300',
   '5. volume': '3366'},
  '2021-08-25 18:45:00': {'1. open': '148.3100',
   '2. high': '148.3100',
   '3. low': '148.3000',
   '4. close': '148.3000',
   '5. volume': '1938'},
  '2021-08-25 18:30:00': {'1. open': '148.3500',
   '2. high': '148.3500',
   '3. low': '148.3000',
   '4. close': '148.3300',
   '5. volume': '2795'},
  '2021-08-25 18:15:00': {'1. open': '148.3400',
   '2. high': '148.3400',
   '3. low': '148.3400',
   '4. close': '148.3400',
   '5. volume': '1153'},
  '2021-08-25 18:00:00': {'1. open': '148.3300',
   '2. high': '148.3700',
   '3. low': '148.3200',
   '4. close': '148.3399',
   '5. volume': '10721'},
  '2021-08-25 17:45:00': {'1. open': '148.3400',
   '2. high': '148.3700',
   '3. low': '148.3200',
   '4. close': '148.3300',
   '5. volume': '10080'},
  '2021-08-25 17:30:00': {'1. open': '148.3500',
   '2. high': '148.3800',
   '3. low': '148.3300',
   '4. close': '148.3300',
   '5. volume': '12068'},
  '2021-08-25 17:15:00': {'1. open': '148.3600',
   '2. high': '148.3800',
   '3. low': '148.3400',
   '4. close': '148.3700',
   '5. volume': '3731'},
  '2021-08-25 17:00:00': {'1. open': '148.3600',
   '2. high': '148.3800',
   '3. low': '148.3300',
   '4. close': '148.3765',
   '5. volume': '18901'},
  '2021-08-25 16:45:00': {'1. open': '148.3300',
   '2. high': '148.4300',
   '3. low': '148.3300',
   '4. close': '148.3700',
   '5. volume': '19091'},
  '2021-08-25 16:30:00': {'1. open': '148.3600',
   '2. high': '148.3600',
   '3. low': '148.3100',
   '4. close': '148.3400',
   '5. volume': '13232'},
  '2021-08-25 16:15:00': {'1. open': '148.3600',
   '2. high': '148.4500',
   '3. low': '148.3000',
   '4. close': '148.3400',
   '5. volume': '1170373'},
  '2021-08-25 16:00:00': {'1. open': '148.6446',
   '2. high': '148.7500',
   '3. low': '148.3400',
   '4. close': '148.3700',
   '5. volume': '3348966'},
  '2021-08-25 15:45:00': {'1. open': '148.3701',
   '2. high': '148.6700',
   '3. low': '148.3701',
   '4. close': '148.6400',
   '5. volume': '1967754'},
  '2021-08-25 15:30:00': {'1. open': '148.2901',
   '2. high': '148.4300',
   '3. low': '148.2600',
   '4. close': '148.3700',
   '5. volume': '1358401'},
  '2021-08-25 15:15:00': {'1. open': '148.2600',
   '2. high': '148.3900',
   '3. low': '148.2150',
   '4. close': '148.2950',
   '5. volume': '1386261'},
  '2021-08-25 15:00:00': {'1. open': '148.2000',
   '2. high': '148.3700',
   '3. low': '148.1500',
   '4. close': '148.2700',
   '5. volume': '1755126'},
  '2021-08-25 14:45:00': {'1. open': '148.0300',
   '2. high': '148.2200',
   '3. low': '148.0000',
   '4. close': '148.2000',
   '5. volume': '1497829'},
  '2021-08-25 14:30:00': {'1. open': '147.9950',
   '2. high': '148.0400',
   '3. low': '147.8200',
   '4. close': '148.0300',
   '5. volume': '1275011'},
  '2021-08-25 14:15:00': {'1. open': '147.8550',
   '2. high': '148.0899',
   '3. low': '147.8200',
   '4. close': '147.9950',
   '5. volume': '1639607'},
  '2021-08-25 14:00:00': {'1. open': '147.9700',
   '2. high': '148.0000',
   '3. low': '147.8200',
   '4. close': '147.8600',
   '5. volume': '1045856'},
  '2021-08-25 13:45:00': {'1. open': '148.0350',
   '2. high': '148.1000',
   '3. low': '147.8000',
   '4. close': '147.9684',
   '5. volume': '2024693'},
  '2021-08-25 13:30:00': {'1. open': '148.2150',
   '2. high': '148.2700',
   '3. low': '148.0100',
   '4. close': '148.0300',
   '5. volume': '1413312'},
  '2021-08-25 13:15:00': {'1. open': '148.3400',
   '2. high': '148.3750',
   '3. low': '148.0800',
   '4. close': '148.2172',
   '5. volume': '1254038'},
  '2021-08-25 13:00:00': {'1. open': '148.3750',
   '2. high': '148.3900',
   '3. low': '148.1600',
   '4. close': '148.3401',
   '5. volume': '1097768'},
  '2021-08-25 12:45:00': {'1. open': '148.2370',
   '2. high': '148.4400',
   '3. low': '148.2100',
   '4. close': '148.3750',
   '5. volume': '1316956'},
  '2021-08-25 12:30:00': {'1. open': '148.1100',
   '2. high': '148.2500',
   '3. low': '148.0600',
   '4. close': '148.2397',
   '5. volume': '1330550'},
  '2021-08-25 12:15:00': {'1. open': '148.2501',
   '2. high': '148.3300',
   '3. low': '148.0800',
   '4. close': '148.1200',
   '5. volume': '1629327'},
  '2021-08-25 12:00:00': {'1. open': '148.3450',
   '2. high': '148.3900',
   '3. low': '148.2100',
   '4. close': '148.2500',
   '5. volume': '1166320'},
  '2021-08-25 11:45:00': {'1. open': '148.5000',
   '2. high': '148.5480',
   '3. low': '148.1700',
   '4. close': '148.3410',
   '5. volume': '1613476'},
  '2021-08-25 11:30:00': {'1. open': '148.5901',
   '2. high': '148.7150',
   '3. low': '148.3300',
   '4. close': '148.5050',
   '5. volume': '1691309'},
  '2021-08-25 11:15:00': {'1. open': '148.4000',
   '2. high': '148.6550',
   '3. low': '148.3900',
   '4. close': '148.5900',
   '5. volume': '1874425'},
  '2021-08-25 11:00:00': {'1. open': '148.2852',
   '2. high': '148.6563',
   '3. low': '148.1200',
   '4. close': '148.4000',
   '5. volume': '3173903'},
  '2021-08-25 10:45:00': {'1. open': '148.6250',
   '2. high': '148.7350',
   '3. low': '148.1650',
   '4. close': '148.2852',
   '5. volume': '3170679'},
  '2021-08-25 10:30:00': {'1. open': '149.0076',
   '2. high': '149.2000',
   '3. low': '148.5350',
   '4. close': '148.6202',
   '5. volume': '2957362'},
  '2021-08-25 10:15:00': {'1. open': '149.3300',
   '2. high': '149.4200',
   '3. low': '148.9300',
   '4. close': '149.0050',
   '5. volume': '2681140'},
  '2021-08-25 10:00:00': {'1. open': '149.6500',
   '2. high': '149.7250',
   '3. low': '149.1500',
   '4. close': '149.3282',
   '5. volume': '3513276'},
  '2021-08-25 09:45:00': {'1. open': '149.8100',
   '2. high': '150.3200',
   '3. low': '149.5600',
   '4. close': '149.6450',
   '5. volume': '5485295'},
  '2021-08-25 09:30:00': {'1. open': '150.0000',
   '2. high': '150.0699',
   '3. low': '149.7600',
   '4. close': '149.7800',
   '5. volume': '102408'},
  '2021-08-25 09:15:00': {'1. open': '149.9800',
   '2. high': '150.0900',
   '3. low': '149.9104',
   '4. close': '150.0000',
   '5. volume': '62201'},
  '2021-08-25 09:00:00': {'1. open': '149.9400',
   '2. high': '149.9900',
   '3. low': '149.8800',
   '4. close': '149.9900',
   '5. volume': '60244'},
  '2021-08-25 08:45:00': {'1. open': '149.7900',
   '2. high': '149.9700',
   '3. low': '149.7000',
   '4. close': '149.9200',
   '5. volume': '64230'},
  '2021-08-25 08:30:00': {'1. open': '149.7699',
   '2. high': '149.7699',
   '3. low': '149.6400',
   '4. close': '149.7200',
   '5. volume': '49300'},
  '2021-08-25 08:15:00': {'1. open': '149.8999',
   '2. high': '150.1300',
   '3. low': '149.2460',
   '4. close': '149.7700',
   '5. volume': '106876'},
  '2021-08-25 08:00:00': {'1. open': '149.8700',
   '2. high': '149.8700',
   '3. low': '149.7700',
   '4. close': '149.8200',
   '5. volume': '25645'},
  '2021-08-25 07:45:00': {'1. open': '149.7600',
   '2. high': '149.8900',
   '3. low': '149.6500',
   '4. close': '149.8900',
   '5. volume': '21589'},
  '2021-08-25 07:30:00': {'1. open': '149.9100',
   '2. high': '149.9100',
   '3. low': '149.6900',
   '4. close': '149.7400',
   '5. volume': '26094'},
  '2021-08-25 07:15:00': {'1. open': '150.0800',
   '2. high': '150.1400',
   '3. low': '149.8300',
   '4. close': '149.8700',
   '5. volume': '75205'},
  '2021-08-25 07:00:00': {'1. open': '150.1000',
   '2. high': '150.1500',
   '3. low': '150.0800',
   '4. close': '150.1500',
   '5. volume': '1933'},
  '2021-08-25 06:45:00': {'1. open': '150.0000',
   '2. high': '150.2400',
   '3. low': '149.9900',
   '4. close': '150.0800',
   '5. volume': '19526'},
  '2021-08-25 06:30:00': {'1. open': '150.0500',
   '2. high': '150.1600',
   '3. low': '149.9900',
   '4. close': '149.9900',
   '5. volume': '12607'},
  '2021-08-25 06:15:00': {'1. open': '150.0500',
   '2. high': '150.1400',
   '3. low': '150.0400',
   '4. close': '150.0400',
   '5. volume': '2760'},
  '2021-08-25 06:00:00': {'1. open': '149.9800',
   '2. high': '150.1600',
   '3. low': '149.9800',
   '4. close': '150.1600',
   '5. volume': '4098'},
  '2021-08-25 05:45:00': {'1. open': '150.1000',
   '2. high': '150.1000',
   '3. low': '150.0000',
   '4. close': '150.0300',
   '5. volume': '3313'},
  '2021-08-25 05:30:00': {'1. open': '150.1300',
   '2. high': '150.1600',
   '3. low': '150.1200',
   '4. close': '150.1200',
   '5. volume': '1073'},
  '2021-08-25 05:15:00': {'1. open': '150.0600',
   '2. high': '150.0600',
   '3. low': '150.0400',
   '4. close': '150.0400',
   '5. volume': '914'},
  '2021-08-25 05:00:00': {'1. open': '150.0900',
   '2. high': '150.1900',
   '3. low': '150.0900',
   '4. close': '150.1900',
   '5. volume': '4912'},
  '2021-08-25 04:45:00': {'1. open': '150.1100',
   '2. high': '150.1500',
   '3. low': '150.1000',
   '4. close': '150.1000',
   '5. volume': '4038'},
  '2021-08-25 04:30:00': {'1. open': '149.9400',
   '2. high': '150.1800',
   '3. low': '149.9400',
   '4. close': '150.0000',
   '5. volume': '12026'},
  '2021-08-25 04:15:00': {'1. open': '149.7200',
   '2. high': '150.0000',
   '3. low': '149.6900',
   '4. close': '149.9800',
   '5. volume': '11616'},
  '2021-08-24 20:00:00': {'1. open': '149.6400',
   '2. high': '149.6400',
   '3. low': '149.5300',
   '4. close': '149.5800',
   '5. volume': '13493'},
  '2021-08-24 19:45:00': {'1. open': '149.5700',
   '2. high': '149.6600',
   '3. low': '149.5700',
   '4. close': '149.6500',
   '5. volume': '9561'},
  '2021-08-24 19:30:00': {'1. open': '149.5700',
   '2. high': '149.5700',
   '3. low': '149.5500',
   '4. close': '149.5600',
   '5. volume': '8737'},
  '2021-08-24 19:15:00': {'1. open': '149.6000',
   '2. high': '149.6100',
   '3. low': '149.5500',
   '4. close': '149.5700',
   '5. volume': '6273'},
  '2021-08-24 19:00:00': {'1. open': '149.6200',
   '2. high': '149.6300',
   '3. low': '149.6100',
   '4. close': '149.6100',
   '5. volume': '4610'},
  '2021-08-24 18:45:00': {'1. open': '149.6500',
   '2. high': '149.6500',
   '3. low': '149.6200',
   '4. close': '149.6400',
   '5. volume': '4020'},
  '2021-08-24 18:30:00': {'1. open': '149.6500',
   '2. high': '149.6600',
   '3. low': '149.6300',
   '4. close': '149.6600',
   '5. volume': '5878'},
  '2021-08-24 18:15:00': {'1. open': '149.6400',
   '2. high': '149.6600',
   '3. low': '149.6300',
   '4. close': '149.6300',
   '5. volume': '3335'},
  '2021-08-24 18:00:00': {'1. open': '149.6600',
   '2. high': '149.6700',
   '3. low': '149.6200',
   '4. close': '149.6501',
   '5. volume': '5148'},
  '2021-08-24 17:45:00': {'1. open': '149.6400',
   '2. high': '149.6700',
   '3. low': '149.6400',
   '4. close': '149.6700',
   '5. volume': '9702'},
  '2021-08-24 17:30:00': {'1. open': '149.6100',
   '2. high': '149.6600',
   '3. low': '149.6100',
   '4. close': '149.6400',
   '5. volume': '2540'},
  '2021-08-24 17:15:00': {'1. open': '149.6400',
   '2. high': '149.6700',
   '3. low': '149.6200',
   '4. close': '149.6200',
   '5. volume': '15674'},
  '2021-08-24 17:00:00': {'1. open': '149.6200',
   '2. high': '149.6500',
   '3. low': '149.6200',
   '4. close': '149.6500',
   '5. volume': '6023'},
  '2021-08-24 16:45:00': {'1. open': '149.6300',
   '2. high': '149.6400',
   '3. low': '149.3200',
   '4. close': '149.6300',
   '5. volume': '20856'},
  '2021-08-24 16:30:00': {'1. open': '149.6200',
   '2. high': '149.6500',
   '3. low': '149.6000',
   '4. close': '149.6400',
   '5. volume': '33425'},
  '2021-08-24 16:15:00': {'1. open': '149.6200',
   '2. high': '149.6700',
   '3. low': '149.5000',
   '4. close': '149.6000',
   '5. volume': '1018107'},
  '2021-08-24 16:00:00': {'1. open': '149.6355',
   '2. high': '149.6800',
   '3. low': '149.4550',
   '4. close': '149.6300',
   '5. volume': '2784376'},
  '2021-08-24 15:45:00': {'1. open': '149.7910',
   '2. high': '149.8100',
   '3. low': '149.6100',
   '4. close': '149.6300',
   '5. volume': '1310631'},
  '2021-08-24 15:30:00': {'1. open': '149.7500',
   '2. high': '149.9050',
   '3. low': '149.7100',
   '4. close': '149.7968',
   '5. volume': '1049422'},
  '2021-08-24 15:15:00': {'1. open': '149.7500',
   '2. high': '149.8700',
   '3. low': '149.7100',
   '4. close': '149.7500',
   '5. volume': '1036776'},
  '2021-08-24 15:00:00': {'1. open': '149.6199',
   '2. high': '149.7700',
   '3. low': '149.5700',
   '4. close': '149.7400',
   '5. volume': '853753'},
  '2021-08-24 14:45:00': {'1. open': '149.5200',
   '2. high': '149.6800',
   '3. low': '149.5000',
   '4. close': '149.6100',
   '5. volume': '895071'},
  '2021-08-24 14:30:00': {'1. open': '149.5672',
   '2. high': '149.6500',
   '3. low': '149.5001',
   '4. close': '149.5290',
   '5. volume': '802373'},
  '2021-08-24 14:15:00': {'1. open': '149.6500',
   '2. high': '149.6700',
   '3. low': '149.5400',
   '4. close': '149.5637',
   '5. volume': '809728'},
  '2021-08-24 14:00:00': {'1. open': '149.6100',
   '2. high': '149.8100',
   '3. low': '149.5700',
   '4. close': '149.6449',
   '5. volume': '850987'},
  '2021-08-24 13:45:00': {'1. open': '149.6186',
   '2. high': '149.6574',
   '3. low': '149.5200',
   '4. close': '149.6100',
   '5. volume': '837004'},
  '2021-08-24 13:30:00': {'1. open': '149.5450',
   '2. high': '149.6500',
   '3. low': '149.4800',
   '4. close': '149.6158',
   '5. volume': '982672'},
  '2021-08-24 13:15:00': {'1. open': '149.5505',
   '2. high': '149.7400',
   '3. low': '149.5200',
   '4. close': '149.5495',
   '5. volume': '937097'},
  '2021-08-24 13:00:00': {'1. open': '149.6200',
   '2. high': '149.6900',
   '3. low': '149.5200',
   '4. close': '149.5600',
   '5. volume': '802228'},
  '2021-08-24 12:45:00': {'1. open': '149.6900',
   '2. high': '149.7100',
   '3. low': '149.5500',
   '4. close': '149.6170',
   '5. volume': '996167'},
  '2021-08-24 12:30:00': {'1. open': '149.8500',
   '2. high': '149.8556',
   '3. low': '149.6400',
   '4. close': '149.6950',
   '5. volume': '894181'},
  '2021-08-24 12:15:00': {'1. open': '149.8300',
   '2. high': '149.9299',
   '3. low': '149.5600',
   '4. close': '149.8450',
   '5. volume': '1446200'},
  '2021-08-24 12:00:00': {'1. open': '149.7659',
   '2. high': '149.9500',
   '3. low': '149.5699',
   '4. close': '149.8300',
   '5. volume': '1444784'},
  '2021-08-24 11:45:00': {'1. open': '149.4800',
   '2. high': '149.8400',
   '3. low': '149.3051',
   '4. close': '149.7650',
   '5. volume': '2419943'},
  '2021-08-24 11:30:00': {'1. open': '149.9100',
   '2. high': '149.9700',
   '3. low': '149.4450',
   '4. close': '149.4801',
   '5. volume': '2038164'},
  '2021-08-24 11:15:00': {'1. open': '149.9999',
   '2. high': '149.9999',
   '3. low': '149.7290',
   '4. close': '149.9168',
   '5. volume': '1561887'}}}

In [7]:
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-25 20:00:00  148.3101  148.3400  148.3000  148.3000      8391
2021-08-25 19:45:00  148.3200  148.3300  148.3000  148.3300      4705
2021-08-25 19:30:00  148.3400  148.3500  148.3200  148.3200      5199
2021-08-25 19:15:00  148.3400  148.3600  148.3300  148.3301      4060
2021-08-25 19:00:00  148.3150  148.3300  148.3150  148.3300      3366

In [8]:
function = 'TIME_SERIES_INTRADAY'
symbol = 'AAPL'
interval = '15min'
size = 'compact'
token = 'ZWDF2CNNPSO3CAGY'

url = 'https://www.alphavantage.co/query'
parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

r = requests.get(url, params=parametros)
data = r.json()['Time Series (15min)']
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-25 20:00:00  148.3101  148.3400  148.3000  148.3000      8391
2021-08-25 19:45:00  148.3200  148.3300  148.3000  148.3300      4705
2021-08-25 19:30:00  148.3400  148.3500  148.3200  148.3200      5199
2021-08-25 19:15:00  148.3400  148.3600  148.3300  148.3301      4060
2021-08-25 19:00:00  148.3150  148.3300  148.3150  148.3300      3366

In [9]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    data = r.json()['Time Series (15min)']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-25 20:00:00  148.3101  148.3400  148.3000  148.3000      8391
2021-08-25 19:45:00  148.3200  148.3300  148.3000  148.3300      4705
2021-08-25 19:30:00  148.3400  148.3500  148.3200  148.3200      5199
2021-08-25 19:15:00  148.3400  148.3600  148.3300  148.3301      4060
2021-08-25 19:00:00  148.3150  148.3300  148.3150  148.3300      3366

In [10]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (15min)'

In [11]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}

    r = requests.get(url, params=parametros)
    
    # En esta línea arreglo ese tema
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF

data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='1min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-25 20:00:00  148.3200  148.3200  148.3000  148.3000       919
2021-08-25 19:59:00  148.3200  148.3200  148.3200  148.3200       335
2021-08-25 19:58:00  148.3100  148.3400  148.3100  148.3300      1847
2021-08-25 19:57:00  148.3200  148.3400  148.3200  148.3400       834
2021-08-25 19:56:00  148.3200  148.3200  148.3200  148.3200       472

In [12]:
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')
data.head()

KeyError: 'Time Series (12min)'

In [14]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

<Response [200]>

In [15]:
def getIntra(function, symbol, interval, size, token):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    
    # Comento la linea que falla en adelante
    
    # data = r.json()['Time Series ('+interval+')']
    # dataDF = pd.DataFrame.from_dict(data, orient='index')
    # return dataDF
    
    # Y mando la imporesión en pantalla del response 
    print(r.text)
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='12min', size='compact', token='ZWDF2CNNPSO3CAGY')

{
    "Error Message": "Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_INTRADAY."
}

In [17]:
TOKEN = 'ZWDF2CNNPSO3CAGY'

def getIntra(function, symbol, interval, size):
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'apikey': TOKEN}
    
    r = requests.get(url, params=parametros)
    
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index')
    return dataDF
    
data = getIntra(function='TIME_SERIES_INTRADAY', symbol='AAPL', interval='15min', size='compact')
data.head()

                      1. open   2. high    3. low  4. close 5. volume
2021-08-25 20:00:00  148.3101  148.3400  148.3000  148.3000      8391
2021-08-25 19:45:00  148.3200  148.3300  148.3000  148.3300      4705
2021-08-25 19:30:00  148.3400  148.3500  148.3200  148.3200      5199
2021-08-25 19:15:00  148.3400  148.3600  148.3300  148.3301      4060
2021-08-25 19:00:00  148.3150  148.3300  148.3150  148.3300      3366